<%= form_with(model: complaint_report, local: true) do |form| %>
  <% if complaint_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint_report.errors.count, "error") %> prohibited this complaint_report from being saved:</h2>

      <ul>
        <% complaint_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
