  <div class="student_header">
    <div class="ui secondary pointing menu">
      <%= link_to "Home", "/students" %>
      <div class="right menu">
        <% if logged_in? %>
          <input type="hidden" name="current_channel" id="current_channel" value="<%= current_user.channel%>">
          <%= link_to "Profile", student_student_profiles_path, class: "item", id: "student_student_profiles_path", data: { turbolinks: false } %>
          <%= link_to "Request", student_requests_path, class: "item", id: "student_requests_path", data: { turbolinks: false } %>
          <div class="ui floating labeled icon dropdown button" style="position: relative; background-color: #ffffff" id="noti_button" >
            <img src="/assets/bell.png" style="width: 1.5rem; height: 1.5rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)" onclick="showNotiList()"/>
            <div class="floating ui red label" style="top: 0.5rem; left: 1.5rem; padding: 0.3rem; border-radius: 0.2rem;">22</div>
            <div class="ui menu">
              <h3 style="margin: 1rem;">Thong bao</h3>
              <div id="list_noti">
                <% current_user.notifications.each do |notification| %>
                  <div class="item noti_item" style="width: 20rem; height: 4.5rem">
                    <% if notification.noti_type == "complaint_report" %>
                      <%= link_to notification.message, "/student/requests/complaint?focus_id=#{notification.report_id}", style: "width: 17rem; height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center", data: { turbolinks: false } %>
                    <% elsif notification.noti_type == "facility_report" %>
                      <%= link_to notification.message, "/student/requests/facility?focus_id=#{notification.report_id}", style: "width: 17rem; height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center", data: { turbolinks: false } %>
                    <% else %>
                      <%= link_to notification.message, "/student/requests/form?focus_id=#{notification.report_id}", style: "width: 17rem; height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center", data: { turbolinks: false } %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", student_login_path, class: "item", id: "student_login_path", data: { turbolinks: false } %>
        <% end %>
        <div class="ui floating dropdown labeled search icon button" id="language_dropdown" style="background-color: #ffffff">
          <span class="text">
            <% if I18n.locale == :en %>
              <%= t(".english") %>
            <% else %>
              <%= t(".vienamese") %>
            <% end %>
          </span>
          <div class="menu" style="z-index: 3000">
            <%= link_to t(".english"), {locale:"en"}, class: "item", data: { turbolinks: false } %>
            <%= link_to t(".vienamese"), {locale:"vi"}, class: "item",  data: { turbolinks: false } %>
          </div>
        </div>
        <% if logged_in? %>
          <%= link_to t(".logout"), student_logout_path, class: "item", data: { turbolinks: false } %>
        <% end %>
      </div>
    </div>
  </div>
<script>
  $(document).on('click', '#language_dropdown', function(){
    $('#language_dropdown').dropdown('show');
  });
  const current_url = window.location.pathname
  if (current_url.indexOf("/student/requests") != -1) {
    $("#student_requests_path").addClass("active");
  }
  else if (current_url.indexOf("/student/student_profiles") != -1){
    $("#student_student_profiles_path").addClass("active");
  }
  else if (current_url.indexOf("students") != -1){
    $("#home_path").addClass("active");
  }
    
  function showNotiList(){
    $('#noti_button').dropdown();
  }
</script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script>

    let current_channel = document.querySelector("#current_channel").value;
    Pusher.logToConsole = true;

    var pusher = new Pusher('29056021d38b15b42578', {
      cluster: 'ap1',
      encrypted: true
    });

    var channel = pusher.subscribe(current_channel);
    channel.bind('new', function(data){
      alert(JSON.stringify(data.notification.message));
      // if(data.notification.noti_type == "complaint_report")
          
    

        // $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; height: 4.5rem; background-color: #e0e1e2" onclick="readNoti(this)">
        //                         <p style="width: 17rem; max-height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.5rem;  white-space: pre-wrap; display: -webkit-box">${data.notification.message}</p>
        //                       </div>`)
        if(data.notification.noti_type == "complaint_report")
          $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; height: 4.5rem">
                                <a href="/student/requests/complaint?focus_id=${data.notification.report_id}" data-turbolinks="false">${data.notification.message}</a>
                                </div`)
        else if (data.notification.noti_type == "facility_report")
          $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; height: 4.5rem">
                                <a href="/student/requests/facility?focus_id=${data.notification.report_id}" data-turbolinks="false">${data.notification.message}</a>
                                </div`)
        else if (data.notification.noti_type == "form_request")
          $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; height: 4.5rem">
                                <a href="/student/requests/form?focus_id=${data.notification.report_id}" data-turbolinks="false">${data.notification.message}</a>
                                </div`)
    });
    function readNoti(item){
      $(item).css("background-color", "white");
    }
    
</script>
<style>
  .active.selected {
    font-weight: normal !important;
    border: none !important;
  }

  .noti_item{
    cursor: pointer;
  }
  .noti_item:hover {
    background-color: #e8e8e8 !important;
  }
</style>