<h1><%= t ".title" %></h1>
<p><%= t ".subject" %></p>
<% if @user.class.name == 'Student' %>
  <%= link_to t(".title"), "http://localhost:3000/student/reset-password/edit?token=#{@user.reset_token}&student_id_number=#{@user.student_id_number}" %>
<% else %>
  <%= link_to t(".title"), "http://localhost:3000/manager/reset-password/edit?token=#{@user.reset_token}" %>
<% end %>
<p><%= t ".expired_time" %></p>
<p><%= t ".if_not_you" %></p>
