<tr onclick="viewMoreFormRequest(<%= request.id %>)">
  <td><%= index + 1 %></td>
  <td>
    <span style="margin: 0 auto; word-wrap: break-word; max-width: 10rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
      <%= request.form_type %>
    </span>
  </td>
  <td>
    <span style="margin: 0 auto; word-wrap: break-word; max-width: 15rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
      <%= request.description %>
    </span>
  </td>
  <td>
    <span style="margin: 0 auto; word-wrap: break-word; max-width: 15rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
      <%= request.note %>
    </span>
  </td>
  <td>
    <% if request.status == "PENDING" %>
      <a class="ui teal tag label" style="width: 7rem"><%= request.status %></a>
    <% elsif request.status == "APPROVED" %>
      <a class="ui blue tag label" style="width: 7rem"><%= request.status %></a>
    <% elsif request.status == "REJECTED" %>
      <a class="ui red tag label" style="width: 7rem"><%= request.status %></a>
    <% end  %>
  </td>
</tr>