<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_id_number %></td>
        <td><%= link_to 'Show', manager_student_path(student) %></td>
        <td><%= link_to 'Edit', edit_manager_student_path(student) %></td>
        <td><%= link_to 'Destroy', manager_student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
     <% if logged_in? %>
      <div class="d-sm-inline-block login_btn">
        <%= link_to t(".logout"), logout_path, class: "nav-link" %>
      </div>
    <% end %>
</table>

<br>

<%= link_to 'New Student', new_manager_student_path %>
