<% provide :title, t(".title") %>
<div class="container student_session new">
  <div class="ui grid">
    <div class="eight wide column">
      <img class="ui image" style="height: 100vh; width: 100%" src="/assets/campus.jpg"/>
    </div>
    <div class="eight wide column">
      <div class="right_column">
        <div class="hcma_logo">
          <img class="logo_image" style=""src="/assets/hcma logo.png"/>
        </div>
        <div class="title">
         Login to dormitory
        </div>
        <%= form_for :student_session, class: "ui form", url: student_login_path do |f| %>
          <div class="field">
            <%= f.text_field :student_id_number, class: "input", required: true, placeholder: "Student number" %>
          </div>
          <div class="field">
            <%= f.password_field :password, class: "input", required: true, placeholder: "Password" %>
          </div>
          <%# <div class="field">
            <div class="ui checkbox">
              <input type="checkbox">
              <label>Remember me</label>
            </div>
          </div> %>

           <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember </span>
            <% end %>
          <%= f.submit "Submit", class: "ui button submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>