<% provide :title, t(".title") %>
<div class="container student_session new">
  <div class="ui grid" style="margin: 0">
    <div class="eight wide column" style="display: flex; justify-content: center; align-item: center">
      <img class="ui image" style="height: 70vh; width: 70%;" src="/assets/campus1.png"/>
    </div>
    <div class="eight wide column">
      <div class="right_column">
        <div class="hcma_logo" style="display:flex; justify-content: center">
          <img class="logo_image" style="width: 15rem"src="/assets/favicon.ico"/>
        </div>
        <div class="title">
         Login to dormitory
        </div>
        <%= form_for :student_session, class: "ui form", url: student_login_path do |f| %>
          <div class="field">
            <%= f.text_field :student_id_number, class: "input", required: true, placeholder: "Student number" %>
          </div>
          <div class="field">
            <%= f.password_field :password, class: "input", required: true, placeholder: "Password" %>
          </div>
           <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember </span>
            <% end %>
          <%= f.submit "Submit", class: "ui button submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>