<div class="facility_report_list" style="padding-top: 2rem">
  <div class="ui dividing header">
    <h3 class="" >Facility Report</h3>
    <div class="add_btn" onclick="addNewFacilityReport()">
      <img src="/assets/add.png" style="width: 1.5em; height: 1.5em; margin-right: 2.5em">
    </div>
  </div>
  <table class="ui very basic table selectable">
    <thead>
      <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @facility_reports.each_with_index do |report, index| %>
        <tr onclick="viewMoreFacilityReport(<%= report.id %>)" id="report_<%= report.id %>" >
          <td><%= index + 1 %></td>
          <td>
           <span style="margin: 0 auto; word-wrap: break-word; max-width: 10rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= report.title %>
            </span>
          </td>
          <td>
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 15rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= report.description %>
            </span>
          </td>
          <td>
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 15rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= report.reject_reason %>
            </span>
          </td>
          <td>
            <% if report.status == "PENDING" %>
              <a class="ui teal tag label" style="width: 7rem"><%= report.status %></a>
            <% elsif report.status == "APPROVED" %>
              <a class="ui blue tag label" style="width: 7rem"><%= report.status %></a>
            <% elsif report.status == "REJECTED" %>
              <a class="ui red tag label" style="width: 7rem"><%= report.status %></a>
            <% end  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ui modal" id="new_facility_report">
    <div class="header">Facility Report</div>
    <form id="facility_report_create_form" style="padding: 1.5rem;">
      <div class="content" >
        <div class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" placeholder="Enter title" name="title" id="title">
          </div>
        </div>
        <div class="ui form" style="margin-top:1rem">
          <div class="field">
            <label>Description</label>
            <textarea placeholder="Enter description" name="description" id="description"></textarea>
          </div>
        </div>
      </div>
      <div class="actions" style="display: flex; justify-content: flex-end; margin-top: 1rem">
        <div class="ui submit button">Submit</div>
      </div>
    </form>
  </div>

  <div class="ui modal" id="facility_report_detail">
    <div class="header">Facility Report</div>
    <div class="content">
      <h3 id="report_title_show"></h3>
      <p><b>Content:</b></p>
      <p id="report_description_show"></p>
      <p><b>Note:</b></p>
      <p id="report_note_show"></p>
    </div>
    <div class="actions">
      <div class="ui cancel button">Close</div>
    </div>
  </div>
</div>
<script>
  function addNewFacilityReport(){
    $('#new_facility_report').modal('show');

  }
  function viewMoreFacilityReport(report_id){
    $('#facility_report_detail').modal('show');
    $.ajax({
      type: "GET",
      url: `/student/requests/facility/${report_id}`,
      data: {
        "id": report_id
      },
      success: function(result){
        $('#report_title_show').html(result.facility_report.title)
        $('#report_description_show').html(result.facility_report.description)
        $('#report_note_show').html(result.facility_report.reject_reason)
      },
      error: function(error){

      }
    })
    
  }

  function addSubmit(){

    console.log(document.querySelector('#title').value)
    $.ajax({
      type: "POST",
      url:"/student/facility-reports/create",
      data: {
        "facility_report": {
          "title": document.querySelector('#title').value,
          "description": document.querySelector('#description').value
       },
      },
      success:function(result){
        alert(result.message);
      }
    })

  }

  //VALIDATE

  $('#facility_report_create_form')
    .form({
      fields:{
        title: {
          identifer: 'title',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter title!'
            },
            {
              type: 'minLength[2]',
              prompt: 'Student name must be more than 2 letters!'
            },
            {
              type: 'maxLength[1000]',
              prompt: 'Student name must be less than 100 letters!'
            }
          ]
        },
        description: {
          identifer: 'description',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter description!'
            },
            {
              type: 'minLength[2]',
              prompt: 'Student name must be more than 2 letters!'
            },
            {
              type: 'maxLength[1000]',
              prompt: 'Student name must be less than 1000 letters!'
            }
          ]
        }
      }
    });

    $('#facility_report_create_form').off('submit').submit(function(e){
      if ($('#facility_report_create_form').form('is valid')){
        addSubmit()
        console.log('valid')
      }
    });

  const urlParams = new URLSearchParams(window.location.search);
  const focusParam = urlParams.get('focus_id');
  if (focusParam != null) {
    document.querySelector(`#report_${focusParam}`).classList.add("active");
  }

</script>