<div class="student_management_student_profile_form">
  <div class= "container">
    <div class="profile_content">
      <div class="ui grid">
        <div class="five wide column">
          <div class="left_column">
            <div class="ava">
              <div class="ava_image">
                <img class="ui medium circular image" src="/assets/ava.jpg">
              </div>
              <div class="ava_icon">
                <button class="ui icon button">
                  <i class="edit outline icon"></i>
                </button>
                <button class="ui icon button">
                  <i class="trash alternate outline icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="eleven wide column">
          <div class="right_column">
            <h3 class="ui dividing header">
              Student Information
            </h3>
            <%= form_for @student, html: {class: 'ui form'}, url: {controller: "student_management", action: "update"}  do |student|%>
                <% if @student.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student_profile from being saved:</h2>
                    <ul>
                      <% @student.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="two fields">
                  <div class="required field field_line">
                    <%= student.label :student_id_number %>
                    <%= student.text_field :student_id_number, class: "input", required: true, placeholder: "Student it number" %>
                  </div>
                  <div class="required field field_line">
                    <label>Room</label>
                    <select class="ui search dropdown">
                    <% @rooms.each do |room|%>
                      <option value="">State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                    <% end %>
                    </select>
                  </div>
                </div>
                <%= student.fields_for :student_profile do |f| %>
                  <div class="required field field_line">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "input", required: true, placeholder: "Full name" %>
                  </div>
                  <div class="required field field_line">
                    <div class="two fields">
                      <div class="required field">
                        <label>Class name</label>
                        <%= f.text_field :class_name, class: "input", required: true, placeholder: "Clas name" %>
                      </div>
                      <div class="required field">
                        <label>Email</label>
                        <%= f.text_field :email, class: "input", required: true, placeholder: "Email" %>
                      </div>
                    </div>
                  </div>
                  <div class="fields field_line">
                    <div class="required eight wide field">
                      <label>Identity Card Number</label>
                      <%= f.text_field :identity_card_number, class: "input",  required: true, maxlength: "16", placeholder: "Identity card number" %>
                    </div>
                    <div class="required eight wide field">
                      <label>Date of Birth</label>
                      <%= f.date_field :date_of_birth, class: "input date", data: {provide: "datepicker"}, required: true%>
                    </div>
                  </div>
                  <div class="required field field_line">
                    <label>Address</label>
                    <%= f.text_field :address, class: "input", required: true, placeholder: "Address" %>
                  </div>
                  <div class="field field_line">
                    <div class="two fields">
                      <div class="required field">
                        <label>Phone number</label>
                        <%= f.text_field :phone_number, class: "input", required: true, placeholder: "Phone number" %>
                      </div>
                      <div class="field">    
                        <%= f.label :gender %>
                        <div class="options" style="height: 60%; margin-top: 0.8rem">
                          <span style="margin-right: 0.6rem">
                            <span class="option" style="margin-right: 0.3rem">Male</span><%= f.radio_button :gender, 'MALE' %>
                          </span>
                          <span>
                            <span class="option" style="margin-right: 0.3rem">Female</span><%= f.radio_button :gender, 'FEMALE' %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
          
                <div class="ui dividing header">
                  Confirmation
                </div>
                <div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label>You are sure that the information above is correct</label>
                </div>
                <div class="field" style="float: right; margin-top: 4em">
                  <%= student.submit "Save change", class: "ui primary button right"%>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>