<div class="student_management_list">
  <div class="header" style="display: flex; justify-content: space-between;">
    <div class="header_title">
      <h3>Student Management: </h3>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addStudent()">
        <i class="plus icon"></i>
      </button>
      <div class="ui icon input">
        <input type="text" placeholder="Name, id or status.." name="q" id="q" class="form-control search-student-form" >
        <i class="icon">
          <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
        </i> 
      </div>
    </div>
  </div>
  <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th>STT</th>
        <th>MSSV</th>
        <th>HO VA TEN</th>
        <th>NGAY SINH</th>
        <th>PHONG</th>
        <th>LOP</th>
        <th>NGAY VAO</th>
        <th>ACTIVE</th>
      </tr>
    </thead>
    <tbody id="student_list"> 
      <% @students.each_with_index do | student, index|%>
        <tr onclick="showStudentInfo(<%= student.id %>)">
          <td><%= index + 1 %></td>
          <td><%= student.student_id_number %></td>
          <td><%= student.student_profile.name %></td>
          <% if student.student_profile.date_of_birth %>
            <td><%= student.student_profile.date_of_birth.to_date %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= student.room.room_name %></td>
          <td><%= student.student_profile.class_name %></td>
          <% if student.check_in_date %>
            <td><%= student.check_in_date.to_date %></td>
          <% else %>
            <td></td>
          <% end %>
          <% if student.status == "PENDING" %>
          <td>
            <a class="ui tag label" style="width: 5.7rem">Pending</a>
          </td>
          <% elsif student.status == "ACTIVE" %>
          <td>
            <a class="ui teal tag label teal_label" style="width: 5.7rem">Active</a>
          </td>
          <% end %>
        </tr>
        <div class="ui modal" id= "student_info_<%= student.id %>">
          <i class="close icon"></i>
          <div class="header">
            Student profiles
          </div>
          <div class="image content">
            <div class="ui grid">
              <div class="five wide column">
                <div class="" style="width: 15rem; margin: 0 auto;">
                  <img src="/assets/ava.jpg" style="width: 15rem; height: 15rem; margin: 0 auto;">
                  <div class="sub-info ui grid" style="padding-top: 1rem">
                    <div class="two wide column" style="padding-bottom: 0!important">
                      <i class="icon address card outline"></i>
                    </div>
                    <div class="fourteen wide column" style="padding-bottom: 0!important">
                    <%= student.student_id_number %>
                    </div>
                    <div class="two wide column" style="padding-bottom: 0!important">
                      <i class="icon check square outline"></i>
                    </div>
                    <div class="fourteen wide column" style="padding-bottom: 0!important">
                      <%= student.student_profile.class_name %>
                    </div>
                    <div class="two wide column">
                      <i class="icon envelope outline"></i>
                    </div>
                    <div class="fourteen wide column">
                      <%= student.student_profile.email %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="description eleven wide column">
                <div class="ui header" style="margin-bottom: 2rem;"><%= student.student_profile.name %></div>
                <div class="student-info ui grid">
                  <div class="three wide column"><b>Ngay sinh:</b></div>
                  <% if student.student_profile.date_of_birth %>
                    <div class="thirteen wide column"><%= student.student_profile.date_of_birth.to_date %></div>
                  <% else %>
                    <div class="thirteen wide column"></div>
                  <% end %>
                  <div class="three wide column"><b>Gioi tinh:</b></div>
                  <div class="thirteen wide column"><%= student.student_profile.gender %></div>
                  <div class="three wide column"><b>Que quan:</b></div>
                  <div class="thirteen wide column"><%= student.student_profile.address %></div>
                  <div class="three wide column"><b>SDT:</b></div>
                  <div class="thirteen wide column"><%= student.student_profile.phone_number %></div>
                  <div class="three wide column"><b>So CMND:</b></div>
                  <div class="thirteen wide column"><%= student.student_profile.identity_card_number %></div>
                  <div class="three wide column"><b>Ngay dang ky:</b></div>
                  <div class="thirteen wide column"><%= student.created_at.to_date %></div>
                  <div class="three wide column"><b>Ngay vao:</b></div>
                  <% if student.check_in_date %>
                    <div class="thirteen wide column"><%= student.check_in_date.to_date %></div>
                  <% else %>
                    <div class="thirteen wide column"></div>
                  <% end %>
                  <div class="three wide column"><b>Thoi gian gia han:</b></div>
                  <div class="thirteen wide column"><%= student.extended_time %></div>
                  <div class="three wide column"><b>Trang thai:</b></div>
                  <div class="thirteen wide column"><%= student.status %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions" style="padding: 0.7rem 1rem;">
            <div class="ui black cancel button">
              Cancel
            </div>
            <button class="ui youtube button" style="background-color: #db2828" onclick="deleteStudent(<%= student.id %>)">
              Delete
            </button>
            <%= link_to "/manager/student-management/#{student.id}/edit", class: "ui positive right labeled icon button", data: { turbolinks: false } do %>
              Edit
              <i class="arrow right icon"></i>
            <% end %>
          </div>
        </div>
        <div class="ui mini modal" id="confirm-delete-<%= student.id %>">
          <div class="ui icon header">
            <i class="archive icon"></i>
            Remove student
          </div>
          <div class="content">
            <p>Do you want to remove this student?</p>
          </div>
          <div class="actions" style="display: flex; justify-content: center">
            <div class="ui negative button">
              <i class="remove icon"></i>
              No
            </div>
            <%= link_to "/manager/student-management/#{student.id}/delete", method: :delete do %>
              <div class="ui positive right labeled icon button">
                <i class="checkmark icon"></i>
                Yes
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
  <div class="mt-4" style="float: right">
    <%= paginate @students, turbolinks: false %>
  </div>
</div>

<div class="ui mini modal add_student">
  <div class="header">
    Create new student
  </div>
  <div class="content">
    <div class="description">
      <%# <label style="display: inline-block">Ho va ten</label> %>
      <form id="add-form" class="ui form segment" style="border: none; -webkit-box-shadow: none">
        <div style="max-width: 0; max-height: 0; overflow: hidden;">
          <input autofocus="true" />
        </div>
        <div class="field" style="margin: 1rem auto;">
          <div class="ui left corner labeled input" style="display: block;" >
            <input type="text" placeholder="Ho va ten..." style="display:block; width: 100%" name="name" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field" id= "student_id_number_field" style="margin: 1rem auto;" onfocusout="checkDuplicate(this)">
          <div class="ui left corner labeled input" style="display: block;">
            <input type="text" placeholder="MSSV..." style="display:block; width: 100%" name="student_id_number" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field" style="margin: 1rem auto;">
          <div class="ui left corner labeled input" style="display: block;" >
            <input type="text" placeholder="MSSV..." style="display:block; width: 100%" name="student_id_number_confirm" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="actions" style="display: flex; justify-content: center">
          <div class="ui button" onclick="cancel()">
            Cancel
          </div>
          <%# <button class="ui primary submit button" onclick="addSubmit(event)">Add</button> %>
          <div class="ui blue submit button">Submit</div>
        </div>
      </form>
    </div>   
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'editor' );
</script>
<script>
  function deleteStudent(student_id){
      $(`#confirm-delete-${student_id}`)
    .modal('show')
  ;
  }

  function showStudentInfo(student_id) {
    $(`#student_info_${student_id}`).modal('show');
  }
  function addStudent() {
    $('#add-form').form('reset');
    $('.ui.mini.modal.add_student').modal('show');
  }

  $('.second.modal')
    .modal('attach events', '.first.modal .button.proceed')
  ;

  function addSubmit(e) {
    let addForm = document.getElementById('add-form');
    let formData = new FormData(addForm);
      e.preventDefault();
      console.log("helloooo", $('#add-form').form('is valid'))
        $.ajax({
        type: "POST",
        url: "/manager/student-management/create",
        processData: false,
        contentType: false,
        cache: false,
        mimeType: 'multipart/form-data',
        data: formData,
        success: function(result){
          alert("Tao tai khoan hoc vien thang cong!");
          // $("#add-form")[0].reset();
          $('#add-form').form('reset');
          $("#add-form").find('.error').removeClass('error');
          $('.ui.mini.modal.add_student').modal('hide');
          console.log(result)
          let result_html = document.createElement('tr')
          result_html.innerHTML = result
          document.querySelector('#student_list').append(result_html)
        },
        error: function (error) {
          // $("#add-form")[0].reset();
          $('#add-form').form('reset');
          alert(error.responseText);
          console.log(error)
          console.log("fails")
        }
      })
  }
  

  $('#add-form').off('submit').submit(async function(e){
    e.preventDefault();
    if($('#add-form').form('is valid')) {
      if (await checkDuplicate() == true){
        console.log("is valid")
        addSubmit(e)
      }
    }
  })


   async function checkDuplicate(){
    student_id_number = document.querySelectorAll('input[name=student_id_number]')[0].value
    let result
    await $.ajax({
      type: "POST",
      url: "/manager/student-management/checkduplicate",
      data: {
        "student_id_number": student_id_number
      },
      success: function(_result){
        console.log("not dup")
        result = true
      },
      error: function (error) {
        console.log(error)
        if (error.responseJSON.is_duplicate == true) {
          console.log("duplicate")
          $('#student_id_number_field').find('.error').removeClass('error');
          $('#student_id_number_field').addClass("error")
          $('#student_id_number_field').append(`<div class="ui basic red pointing prompt label transition visible">This id number has been taken</div>`)
          result = false
        }
      }
    })
    return result
  }

  $('#add-form')
    .form({
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter student name!'
            },
            {
              type: 'minLength[2]',
              prompt: 'Student name must be more than 2 letters!'
            },
            {
              type: 'maxLength[100]',
              prompt: 'Student name must be less than 100 letters!'
            }
          ]
        },
        student_id_number: {
          identifier: 'student_id_number',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter student id number !!'
            },
            {
              type: 'minLength[5]',
              prompt: 'Student id number must be more than 5 letters!'
            },
            {
              type: 'maxLength[10]',
              prompt: 'Student id number must be less than 10 letters!'
            }
          ]
        },
        student_id_number_confirm: {
          identifier: 'student_id_number_confirm',
          rules: [
            {
              type: 'empty',
              prompt: 'Please enter student id number confirmation !!'
            },
            {
              type: 'match[student_id_number]',
              prompt: 'Student id number mismatch'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;

  function cancel(){
    // $("#add-form")[0].reset();
    $('#add-form').form('reset');
    $('.ui.mini.modal.add_student').modal('hide');
  }

  $(document).on("turbolinks:load", function() {
    $(".search-student-form").on("keyup", function() {
      // $('#student_list').html("")
      $.ajax({
        type: "GET",
        url: "/manager/student-management/students?q=" + this.value,
        success: function(result){
          $('#student_list').html(result)
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  });
</script>