<div class="student_management_list">
  <div class="header" style="display: flex; justify-content: space-between;">
    <div class="header_title">
      <h3>Quản lý học viên: </h3>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addStudent()">
        <i class="plus icon"></i>
      </button>
      <div class="ui selection dropdown filter_item" id="status_filter">
        <input type="hidden" onchange="onSearch()">
        <div class="default text">Trạng thái</div>
        <div class="menu">
          <div class="item" data-value="ACTIVE">Đã kích hoạt</div>
          <div class="item" data-value="PENDING">Đang xử lý</div>
          <div class="item" data-value="ALL">Tất cả</div>
        </div>
      </div>
      <div class="ui icon input">
        <input type="text" placeholder="Nhập ID hoặc tên" name="q" id="q" class="form-control search-student-form" />
        <i class="icon">
          <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
        </i> 
      </div>
    </div>
  </div>
  <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
  <div  id="student_list">
    <table class="ui very basic selectable table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã học viên</th>
          <th>Họ và tên</th>
          <th>Ngày sinh</th>
          <th>Phòng</th>
          <th>Lớp</th>
          <th>Ngày vào</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody> 
        <% @students.each_with_index do | student, index|%>
          <tr onclick="showStudentInfo(<%= student.id %>)">
            <td><%= index + 1 + (@page - 1)*Settings.report_pagination %></td>
            <td><%= student.student_id_number %></td>
            <td><%= student.student_profile.name %></td>
            <% if student.student_profile.date_of_birth %>
              <td><%= student.student_profile.date_of_birth.to_date %></td>
            <% else %>
              <td></td>
            <% end %>
            <td>
              <% if student.room.room_name == 'A1_0000' %>
                Đang xử lý
              <% else %>
                <%= student.room.room_name %></td>
              <% end %>
            <td><%= student.student_profile.class_name %></td>
            <% if student.check_in_date %>
              <td><%= student.check_in_date.to_date %></td>
            <% else %>
              <td></td>
            <% end %>
            <% if student.status == "PENDING" %>
            <td>
              <a class="ui tag label" >Đang xử lý</a>
            </td>
            <% elsif student.status == "ACTIVE" %>
            <td>
              <a class="ui teal tag label teal_label">Đã kích hoạt</a>
            </td>
            <% end %>
          </tr>
          <div class="ui modal" id= "student_info_<%= student.id %>">
            <i class="close icon"></i>
            <div class="header">
              Thông tin học viên
            </div>
            <div class="image content">
              <div class="ui grid">
                <div class="five wide column">
                  <div class="" style="width: 15rem; margin: 0 auto;">
                    <% if student.student_profile.avatar.url != nil %>
                      <img style="width: 15rem; height: 15rem; margin: 0 auto;"  src="<%= student.student_profile.avatar.url %>">
                    <% else %>
                      <img src="/assets/profile.png" style="width: 15rem; height: 15rem; margin: 0 auto;">
                    <% end %>
                    <div class="sub-info ui grid" style="padding-top: 1rem">
                      <input type="hidden" name="student_id" id="student_id" value="<%= student.id%>" />
                      <div class="two wide column" style="padding-bottom: 0!important">
                        <i class="icon address card outline"></i>
                      </div>
                      <div class="fourteen wide column" style="padding-bottom: 0!important">
                      <%= student.student_id_number %>
                      </div>
                      <div class="two wide column" style="padding-bottom: 0!important">
                        <i class="icon check square outline"></i>
                      </div>
                      <div class="fourteen wide column" style="padding-bottom: 0!important">
                        <%= student.student_profile.class_name %>
                      </div>
                      <div class="two wide column">
                        <i class="icon envelope outline"></i>
                      </div>
                      <div class="fourteen wide column">
                        <%= student.student_profile.email %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="description eleven wide column">
                  <div class="ui header" style="margin-bottom: 2rem;"><%= student.student_profile.name %></div>
                  <div class="student-info ui grid">
                    <div class="four wide column"><b>Ngày sinh:</b></div>
                    <% if student.student_profile.date_of_birth %>
                      <div class="twelve wide column"><%= student.student_profile.date_of_birth.to_date %></div>
                    <% else %>
                      <div class="twelve wide column"></div>
                    <% end %>
                    <div class="four wide column"><b>Giới tính:</b></div>
                    <div class="twelve wide column">
                      <% if student.student_profile.gender == "MALE" %>
                        Nam
                      <% elsif student.student_profile.gender == "FEMALE" %>
                        Nữ
                      <% end %>
                    </div>
                    <div class="four wide column"><b>Địa chỉ:</b></div>
                    <div class="twelve wide column"><%= student.student_profile.address %></div>
                    <div class="four wide column"><b>Số điện thoại:</b></div>
                    <div class="twelve wide column"><%= student.student_profile.phone_number %></div>
                    <div class="four wide column"><b>Số CMND:</b></div>
                    <div class="twelve wide column"><%= student.student_profile.identity_card_number %></div>
                    <div class="four wide column"><b>Ngày đăng ký:</b></div>
                    <div class="twelve wide column"><%= student.created_at.to_date %></div>
                    <div class="four wide column"><b>Ngày vào:</b></div>
                    <% if student.check_in_date %>
                      <div class="twelve wide column"><%= student.check_in_date.to_date %></div>
                    <% else %>
                      <div class="twelve wide column"></div>
                    <% end %>
                    <div class="four wide column"><b>Thời gian gia hạn:</b></div>
                    <div class="twelve wide column"><%= student.extended_time %> tháng</div>
                    <div class="four wide column"><b>Trạng thái:</b></div>
                    <% if student.status == "PENDING"  %>
                      <div class="twelve wide column">Đang xử lý</div>
                    <% elsif student.status == "ACTIVE" %>
                      <div class="twelve wide column">Đã kích hoạt</div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions" style="padding: 0.7rem 1rem;">
              <div class="ui cancel button">
                Huỷ
              </div>
              <button class="ui youtube button" style="background-color: #db2828" onclick="deleteStudent(<%= student.id %>)">
                Xoá
              </button>
              <button class="ui button" style="color: #ffffff !important; background-color: #2185d0 !important;" onclick="editStudent(<%= student.id %>)">
                Cập nhật
              </button>
            </div>
          </div>
          <div class="ui mini modal" id="confirm-delete-<%= student.id %>">
            <div class="ui icon header" style="border: none !important">
              <i class="archive icon"></i>
              Xoá tài khoản học viên
            </div>
            <div class="content">
              <p>Bạn có chắc muốn xoá tài khoản học viên?</p>
            </div>
            <div class="actions" style="display: flex; justify-content: center">
              <div class="ui negative button">
                <i class="remove icon"></i>
                Huỷ
              </div>
              <div class="ui positive right labeled icon button custom_btn" onclick="confirmRemove(<%= student.id %>)">
                <i class="checkmark icon"></i>
                Xoá
              </div>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
    <div class="mt-4" style="float: right">
      <%= paginate @students, turbolinks: false %>
    </div>
  </div>
</div>

<div class="ui mini modal add_student">
  <div class="header">
    Tạo mới tài khoản học viên
  </div>
  <div class="content" style="padding: 0 !important">
    <div class="description">
      <%# <label style="display: inline-block">Ho va ten</label> %>
      <form id="add-form" class="ui form segment" style="border: none; -webkit-box-shadow: none; padding: 1rem 2rem !important">
        <div style="max-width: 0; max-height: 0; overflow: hidden;">
          <input autofocus="true" />
        </div>
        <div class="field" style="margin: 1rem auto;">
          <div class="ui left corner labeled input" style="display: block;" >
            <input type="text" placeholder="Họ và tên" style="display:block; width: 100%" name="name" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field" id= "student_id_number_field" style="margin: 1rem auto;" onfocusout="checkDuplicate(this)">
          <div class="ui left corner labeled input" style="display: block;">
            <input type="text" placeholder="Mã số học viên" style="display:block; width: 100%" name="student_id_number" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="field" style="margin: 1rem auto;">
          <div class="ui left corner labeled input" style="display: block;" >
            <input type="text" placeholder="Nhập lại mã số học viên" style="display:block; width: 100%" name="student_id_number_confirm" tabindex="-1">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="actions" style="display: flex; justify-content: center">
          <div class="ui button" onclick="cancel()">
            Huỷ
          </div>
          <%# <button class="ui primary submit button" onclick="addSubmit(event)">Add</button> %>
          <div class="ui blue submit button">Tạo</div>
        </div>
      </form>
    </div>   
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'editor' );
</script>
<script>
  $('.ui.dropdown')
  .dropdown();

  function confirmRemove(student_id){
     $.ajax({
      type: "DELETE",
      url: `/manager/student-management/${student_id}/delete`,
      success: function(result){
        // toastr.success(result.message)
        // $(`#student_${student_id}`).remove();
        window.localStorage.setItem("deleted_student","Xoá tài khoản học viên thành công!")
        window.location.reload();
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  }

  function editStudent(member_id){
    // let member_id = $('#student_id').val()
    forwarding_url = document.location.href;
    window.localStorage.setItem('forwarding_url', forwarding_url)
    window.location.href= `/manager/student-management/${member_id}/edit`
  }

  function deleteStudent(student_id){
      $(`#confirm-delete-${student_id}`)
    .modal('show')
  ;
  }

  function showStudentInfo(student_id) {
    $(`#student_info_${student_id}`).modal('show');
  }
  function addStudent() {
    $('#add-form').form('reset');
    $('.ui.mini.modal.add_student').modal('show');
  }

  $('.second.modal')
    .modal('attach events', '.first.modal .button.proceed')
  ;

  function addSubmit(e) {
    let addForm = document.getElementById('add-form');
    let formData = new FormData(addForm);
      e.preventDefault();
      // console.log("helloooo", $('#add-form').form('is valid'))
        $.ajax({
        type: "POST",
        url: "/manager/student-management/create",
        processData: false,
        contentType: false,
        cache: false,
        mimeType: 'multipart/form-data',
        data: formData,
        success: function(result){
          window.localStorage.setItem('new_student', JSON.parse(result).message)
          window.location = '/manager/student-management'
        },
        error: function (error) {
          toastr.error(JSON.parse(error.responseText).message)
        }
      })
  }
  
  $('#add-form').off('submit').submit(async function(e){
    e.preventDefault();
    if($('#add-form').form('is valid')) {
      if (await checkDuplicate() == true){
        console.log("is valid")
        addSubmit(e)
      }
    }
  })


   async function checkDuplicate(){
    student_id_number = document.querySelectorAll('input[name=student_id_number]')[0].value
    let result
    await $.ajax({
      type: "POST",
      url: "/manager/student-management/checkduplicate",
      data: {
        "student_id_number": student_id_number
      },
      success: function(_result){
        console.log("not dup")
        result = true
      },
      error: function (error) {
        console.log(error)
        if (error.responseJSON.is_duplicate == true) {
          console.log("duplicate")
          $('#student_id_number_field').find('.error').removeClass('error');
          $('#student_id_number_field').addClass("error")
          $('#student_id_number_error').remove();
          $('#student_id_number_field').append(`<div class="ui basic red pointing prompt label transition visible" id="student_id_number_error">Tài khoản này đã được tạo</div>`)
          result = false
        }
      }
    })
    return result
  }

  $('#add-form')
    .form({
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập họ và tên học viên!'
            },
            {
              type: 'maxLength[100]',
              prompt: 'Tên học viên tối đa 100 ký tự!'
            }
          ]
        },
        student_id_number: {
          identifier: 'student_id_number',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập mã học viên!!'
            },
            {
              type: 'minLength[6]',
              prompt: 'Mã học viên tối thiểu 6 chữ số!'
            },
            {
              type: 'maxLength[12]',
              prompt: 'Mã học viên tối đa 12 chữ số!'
            }
          ]
        },
        student_id_number_confirm: {
          identifier: 'student_id_number_confirm',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập lại mã học viên!!'
            },
            {
              type: 'match[student_id_number]',
              prompt: 'Mã học viên không trùng khớp! Vui lòng nhập lại!!'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;

  function cancel(){
    // $("#add-form")[0].reset();
    $('#add-form').form('reset');
    $('.ui.mini.modal.add_student').modal('hide');
  }

  function onSearch() {
    $.ajax({
      type: "GET",
      url: "/manager/student-management/search-students?q=" + $(".search-student-form").val() + "&status=" + $("#status_filter").dropdown('get value'),
      success: function(result){
        $('#student_list').html(result)
      },
      error: function (error){
        if(error.responseJSON.is_all) {
          window.location = '/manager/student-management'
        }
      }
    })
  }

  $(".search-student-form").on("keyup", function() {
    onSearch()
  });

</script>

<style>
/* .ui.dimmer.modals.page {
  padding-top: 7rem
} */
</style>