<table class="ui very basic selectable table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Mã học viên</th>
      <th>Họ và tên</th>
      <th>Ngày sinh</th>
      <th>Phòng</th>
      <th>Lớp</th>
      <th>Ngày vào</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody id="student_list"> 
    <% students.each_with_index do | student, index |%>
      <tr onclick="showStudentInfo(<%= student.id %>)">
        <td><%= index + 1 %></td>
        <td><%= student.student_id_number %></td>
        <td><%= student.student_profile.name %></td>
        <% if student.student_profile.date_of_birth %>
          <td><%= student.student_profile.date_of_birth.to_date %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if student.room.id != 1 %>
          <td><%= student.room.room_name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= student.student_profile.class_name %></td>
        <% if student.check_in_date%>
          <td><%= student.check_in_date.to_date %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if student.status == "ACTIVE" %>
          <td>
            <a class="ui teal tag label teal_label">Đã kích hoạt</a>
         </td>
        <% elsif student.status == "PENDING" %>
          <td>
            <a class="ui tag label">Đang xử lý</a>
         </td>
        <% end %>
        
      </tr>
      <div class="ui modal" id= "student_info_<%= student.id %>">
        <i class="close icon"></i>
        <div class="header">
          Thông tin học viên
        </div>
        <div class="image content">
          <div class="ui grid">
            <div class="five wide column">
              <div class="" style="width: 15rem; margin: 0 auto;">
                <%# <img src="/assets/profile.png" style="width: 15rem; height: 15rem; margin: 0 auto;"> %>
                <% if student.student_profile.avatar.url %>
                  <img src="<%= student.student_profile.avatar.url %>" style="width: 15rem; height: 15rem; margin: 0 auto;">
                <% else %>
                  <img src="/assets/profile.png" style="width: 15rem; height: 15rem; margin: 0 auto;">
                <% end %>
                <div class="sub-info ui grid" style="padding-top: 1rem">
                  <div class="two wide column" style="padding-bottom: 0!important">
                    <i class="icon address card outline"></i>
                  </div>
                  <div class="fourteen wide column" style="padding-bottom: 0!important">
                    <%= student.student_id_number %>
                  </div>
                  <div class="two wide column" style="padding-bottom: 0!important">
                    <i class="icon check square outline"></i>
                  </div>
                  <% if student.student_profile %>
                    <div class="fourteen wide column" style="padding-bottom: 0!important">
                      <%= student.student_profile.class_name %>
                    </div>
                    <div class="two wide column">
                      <i class="icon envelope outline"></i>
                    </div>
                    <div class="fourteen wide column">
                      <%= student.student_profile.email %>
                    </div>
                  <% else %>
                    <div class="fourteen wide column" style="padding-bottom: 0!important">
                    </div>
                    <div class="two wide column">
                      <i class="icon envelope outline"></i>
                    </div>
                    <div class="fourteen wide column">
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="description eleven wide column">
              <div class="ui header" style="margin-bottom: 2rem;"><%= student.student_profile.name %></div>
              <div class="student-info ui grid">
              <div class="four wide column"><b>Ngày sinh:</b></div>
              <% if student.student_profile.date_of_birth %>
                <div class="twelve wide column"><%= student.student_profile.date_of_birth.to_date %></div>
              <% else %>
                <div class="twelve wide column"></div>
              <% end %>
              <div class="four wide column"><b>Giới tính:</b></div>
              <div class="twelve wide column"><%= student.student_profile.gender %></div>
              <div class="four wide column"><b>Quê quán:</b></div>
              <div class="twelve wide column"><%= student.student_profile.address %></div>
              <div class="four wide column"><b>Số điện thoại:</b></div>
              <div class="twelve wide column"><%= student.student_profile.phone_number %></div>
              <div class="four wide column"><b>Số CMND:</b></div>
              <div class="twelve wide column"><%= student.student_profile.identity_card_number %></div>
              <div class="four wide column"><b>Ngày đăng ký:</b></div>
              <div class="twelve wide column"><%= student.created_at.to_date %></div>
              <div class="four wide column"><b>Ngày vào:</b></div>
              <% if student.check_in_date %>
                <div class="twelve wide column"><%= student.check_in_date.to_date %></div>
              <% else %>
                <div class="twelve wide column"></div>
              <% end %>
              <div class="four wide column"><b>Thời gian gia hạn:</b></div>
              <div class="twelve wide column"><%= student.extended_time %> Tháng</div>
              <div class="four wide column"><b>Trạng thái:</b></div>
              <% if student.status == "PENDING"  %>
                <div class="twelve wide column">Đang xử lý</div>
              <% elsif student.status == "ACTIVE" %>
                <div class="twelve wide column">Đã kích hoạt</div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="actions" style="padding: 0.7rem 1rem;">
          <div class="ui black cancel button">
            Huỷ
          </div>
          <button class="ui youtube button" style="background-color: #db2828" onclick="deleteStudent(<%= student.id %>)">
            Xoá
          </button>
          <%= link_to "/manager/student-management/#{student.id}/edit", class: "ui right labeled icon button", style: "color: #ffffff !important; background-color: #2185d0 !important;", data: { turbolinks: false } do %>
            Cập nhật
            <i class="arrow right icon"></i>
          <% end %>

        </div>
      </div>
      <div class="ui mini modal" id="confirm-delete-<%= student.id %>">
        <div class="ui icon header" style="border: none !important">
          <i class="archive icon"></i>
          Xoá tài khoản học viên
        </div>
        <div class="content">
          <p>Bạn có chắc muốn xoá tài khoản học viên?</p>
        </div>
        <div class="actions" style="display: flex; justify-content: center">
          <div class="ui negative button">
            <i class="remove icon"></i>
            Huỷ
          </div>
          <div class="ui positive right labeled icon button custom_btn" onclick="confirmRemove(<%= student.id %>)">
            <i class="checkmark icon"></i>
            Xoá
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>
<% if is_full %>
  <div class="mt-4" style="float: right">
    <%= paginate students, remote: true, :params => { :controller => 'student_management', :action => 'index' } %>
  </div>
<% end %>