<% provide :title, t(".title") %>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <b><%= t ".title" %></b>
        </div>
        <p class="login-box-msg"><%= t(".sign_in") %></p>
        <%= form_for :student_session, url: login_path do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :student_id_number, required: true, class: "form-control", placeholder: t(".student_id_number") %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, required: true, class: "form-control", placeholder: t(".password") %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <span><%= t ".remember_me" %></span>
              <% end %>
            </div>
            <div class="col-6 text-right">
              <%= link_to t(".forgot_password"), "#" %>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-6">
              <div class="icheck-primary">
                <%= link_to t(".sign_up"), "", class: "btn btn-success btn-block" %>
              </div>
            </div>
            <div class="col-6">
              <div class="icheck-primary">
                <%= f.submit "submit", class: "btn btn-primary btn-block" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
