<div class="post_management_list">
  <div class="header" style="display: flex; justify-content: space-between;">
    <div class="header_title">
      <h3>Post Management: </h3>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addPost()">
        <i class="plus icon"></i>
      </button>
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="icon">
          <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
        </i> 
      </div>
    </div>
  </div>
  <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tieu de</th>
        <th>Noi dung</th>
        <th>Thoi gian</th>
        <th>Nguoi dang</th>
        <th>Trang thai</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post|%>
        <tr onclick="showPost(<%= post.id %>)">
          <td>1</td>
          <td style="max-width: 25rem">
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 20rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= post.title %>
            </span>
          </td>
          <td style="max-width: 25rem">
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 20rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= post.content.html_safe %>
            </span>
          </td>
          <td><%= post.created_at %></td>
          <td><%= post.writer_name %></td>
          <td><%= post.status%></td>
        </tr>
        <div class="ui long small modal first scrolling" id="show_modal_first_<%= post.id %>">
          <div class="scrolling content" style="padding: 3rem">
            <div class="description">
              <div class="ui header"><h2><%= post.title %></h2></div>
              <%# <div class="content" style=""><img style="width: 50%; margin: 0 auto; display: block;"/></div> %>
              <div class="content" style="margin-top: 2rem"><%= post.content.html_safe %></div>
              <div class="picture" style="width: 100%; margin: 0 auto;">
                <img src="<%= image_path post.image.url  %>" style="width: 100%; margin: 0 auto"/>
              </div>
            </div>   
          </div>
          <div class="actions">
            <button class="ui cancel button">
              Cancel
            </button>
            <div class="ui primary approve button proceed" onclick="">
              Proceed
              <i class="right chevron icon"></i>
            </div>
          </div>
        </div>
        <div class="ui small modal second scrolling" id="show_modal_second_<%= post.id %>">
          <div class="header">
            Edit my post
          </div>
          <%= form_for @post_management, url: {controller: "post_management", action: "update"}  do |f|%>
            <div class="scrolling image content">
              <div class="description">
                <div class="ui form">
                  <%= f.hidden_field :id, value: post.id  %>
                  <div class="field">
                    <%= f.text_field :title,  :value => "#{post.title}", rows: "2"  %>
                  </div>
                  <div class="field">
                    <%= f.text_area :content,  :value => "#{post.content}", id: "editor_#{post.id}" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <button class="ui approve button">
                Cancel
              </button>
              <%= f.submit "Submit", class: "ui primary approve button" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </tbody>
  </table>
</div>

<div class="ui longer modal add">
  <div class="header">
    Create a new post
  </div>
  <%= form_for @post_management, url: {controller: "post_management", action: "create"}  do |f|%>
    <div class="ui form" style="padding: 1rem">
      <div class="field">
        <%= f.text_area :title, placeholder: "Enter title", rows: "2"  %>
      </div>
      <div class="field">
        <%= f.text_area :content, placeholder: "Enter content", id: "editor" %>
      </div>
      <div class="field" style= "display: flex; justify-content: flex-end;">
        <%= f.text_area :writer_name, placeholder: "Writer", rows: "1", style: "width: 30%" %>
      </div>
      <span class="field">
    	  <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg", :onchange => "generatePreviewImage(this)" %>
      </span>

      <div class="ui middle aligned center aligned grid container">
        <div class="ui fluid segment">
            <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" />
        <label for="embedpollfileinput" class="ui huge red right floated button">
          <i class="ui plus icon"></i> 
        </label>
        </div>
        
      </div>

      <div>
         <img id="preview_img"/>
      </div>
      <div class="actions" style="float: right">
        <button class="ui approve button">
          Cancel
        </button>
        <%= f.submit "Submit", class: "ui primary approve button" %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .ck-editor__editable_inline {
    min-height: 150px;  
  }
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js">
</script>
<script>
  var isCreated = []
  document.addEventListener("DOMContentLoaded", function(event) { 
      ClassicEditor
        .create( document.querySelector( '#editor' ), {
          toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageInsert'],
          heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
        })
        .catch( error => {
          console.error( error );
        })
    }
  );

  function showPost(post_id) {
    $(`#show_modal_first_${post_id}`).modal('show');
    $(`#show_modal_second_${post_id}`)
    .modal('attach events', `#show_modal_first_${post_id} .button.proceed`)
  ;
    if (isCreated[post_id] != true) {
       ClassicEditor
        .create( document.querySelector( '#editor_' + post_id ), {
          toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageInsert'],
          heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
        })
        .catch( error => {
          console.error( error );
        })
        isCreated[post_id] = true;
    }
  }

  $('.coupled.modal')
    .modal({
      allowMultiple: false
    })
  ;
  // attach events to buttons
  function addPost() {
    $('.ui.longer.modal.add').modal('show');
  }
  // CKEDITOR.replace('content',{ toolbar :[ ['Subscript','Superscript'] ], height: '35px', width: '100%' });
  console.log(ClassicEditor.builtinPlugins.map( plugin => plugin.pluginName ))

  function convertStringToHtml(str) { 
    return $(str);
  }
  function generatePreviewImage(image){
    $('#preview_img').attr('src', URL.createObjectURL(image.files[0]))
  }
</script>
<style>
.grid.container {
  margin-top: 5em;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
</style>