<div class="post_management_list">
  <div class="header" style="display: flex; justify-content: space-between;">
    <input type="hidden" id="selected_post_id" value=""/>
    <div class="header_title">
      <h3>Quản lý bài đăng: </h3>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addPost()">
        <i class="plus icon"></i>
      </button>
       <div class="ui selection dropdown filter_item" id="status_filter">
        <input type="hidden" onchange="onSearch()">
        <div class="default text">Trạng thái</div>
        <div class="menu">
          <div class="item" data-value="POSTED">Đã đăng</div>
          <div class="item" data-value="DELETED">Đã xoá</div>
          <div class="item" data-value="ALL">Tất cả</div>
        </div>
      </div>
      <div class="ui icon input" style="">
        <input type="text" placeholder="Nhập tiêu đề, người viết" name="q" id="q" class="form-control search-post-form" >
        <i class="icon">
          <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
        </i> 
      </div>
    </div>
  </div>
  <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Ngày đăng</th>
        <th>Người viết</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody id="post_list">
      <% @posts.each_with_index do |post, index|%>  
        <tr>
          <td onclick="showPost(<%= post.id %>)"><%= index + 1 + (@page - 1)*Settings.pagination %></td>
          <td style="width: 20rem" onclick="showPost(<%= post.id %>)">
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 16rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= post.title %>
            </span>
          </td onclick="showPost(<%= post.id %>)">
          <td style="max-width: 25rem"onclick="showPost(<%= post.id %>)">
            <span style="margin: 0 auto; word-wrap: break-word; max-width: 26rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
              <%= remove_html_tag(post.content).html_safe %>
            </span>
          </td>
          <td onclick="showPost(<%= post.id %>)"><%= post.created_at.to_date %></td>
          <td onclick="showPost(<%= post.id %>)"><%= post.writer_name %></td>
          <td onclick="showPost(<%= post.id %>)" id="post_status_<%= post.id%>">
          <% if post.status == 'POSTED' %>
             Đã đăng
          <% elsif post.status == 'DELETED'%>
            Đã xoá
          <% end %>
          </td>
          <td id="post_actions_<%= post.id%>">
            <% if post.status == "POSTED" %>
              <i class="trash alternate outline icon" id="delete_post_<%= post.id %>" onclick="confirmChangePostStatus(<%= post.id %>, 'POSTED')"></i>
            <% elsif post.status == "DELETED" %>
              <i class="window restore outline icon" id="delete_post_<%= post.id %>" onclick="confirmChangePostStatus(<%= post.id %>, 'DELETED')"></i>
            <% end %>
          </td>
        </tr>
        <%# modal xem %>
        <div class="ui long small modal first scrolling" id="show_modal_first_<%= post.id %>">
          <div class="scrolling content" style="padding: 3rem">
            <div class="description">
              <div class="ui header"><h2><%= post.title %></h2></div>
              <div class="content" style="margin-top: 2rem"><%= post.content.html_safe %></div>
              <div class="content">
                <div class="ui special cards" style="margin-top: 2rem">
                  <% post.images.each do |image| %>
                    <div class='card' style="max-height: 20rem; height: 20rem" id="image_${i}">
                      <img style="width: 100%; height: 100%;" src="<%= image.url %>" />
                    </div>
                  <% end %>
                </div>
              </div>
            </div>   
          </div>
          <div class="actions">
            <button class="ui cancel button">
              Huỷ
            </button>
            <div class="ui primary approve button proceed">
              Chỉnh sửa
              <i class="right chevron icon"></i>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
  <div class="mt-4" style="float: right">
    <%= paginate @posts, turbolinks: false %>
  </div>
</div>
<%# modal sửa %>
<div class="ui longer small modal second scrolling" id="show_modal_second">
  <div class="header">
    Sửa bài đăng
  </div>
  <form id="myEditForm" multipart="true" name="myEditForm" class="ui form segment" style="border: none; -webkit-box-shadow: none;">
    <div style="padding: 1rem">
      <div style="max-width: 0; max-height: 0; overflow: hidden;">
        <input autofocus="true" type="hidden" name="id" id="post_id_edit" value="" />
      </div>
      <div class="field">
        <label>Tiêu đề: </label>
        <textarea id="post_title_edit" name="post_title_edit" rows="5" placeholder="Tiêu đề"></textarea>
      </div>
      <div class="field" onfocusout="validateContent('content_edit_field')" id="content_edit_field">
        <label>Nội dung: </label>
        <textarea type="file" name="content" id="editor_edit" placeholder="Nội dung"></textarea>
      </div>
      <div class="field">
        <label>Người viết: </label>
        <textarea id="writer_name_edit" name="writer_name_edit" rows="1" placeholder="Người viết"></textarea>
      </div>
      <div class="content">
        <div class="ui special cards" id="preview_image_edit"></div>
      </div>
      <div class="actions" style="float: right; margin-top: 1rem">
        <button class="ui cancel button">Huỷ</button>
        <div class="ui primary submit button">Chỉnh sửa</div>
      </div>
    </div>
  </form>
</div>
<%# modal tạo mới %>
<div class="ui longer small modal add">
  <div class="header">
    Tạo bài đăng mới
  </div>
  <form id="myForm" multipart="true" name="myForm" class="ui form segment" style="border: none; -webkit-box-shadow: none; margin-top: 0">
    <div class="ui form" style="padding: 1rem">
      <div style="max-width: 0; max-height: 0; overflow: hidden;">
        <input autofocus="true" />
      </div>
      <div class="field">
        <label>Tiêu đề: </label>
        <textarea name="title" placeholder="Tiêu đề" rows="5"></textarea>
      </div>
      <div class="field" id="content_field" onfocusout="validateContent('content_field')">
        <label>Nội dung: </label>
        <textarea id="editor" name="content" placeholder="Nội dung"></textarea>
      </div>
      <div class="field" style="width: 30.6%">
        <label>Người viết: </label>
        <textarea name="writer_name" placeholder="Nguời viết" rows="1"></textarea>
      </div>
      <div class="content">
        <div class="ui special cards" id="preview_image"> 
          <div class="card" style="height: 20rem", id="preview_image_card">
            <input type="file" class="inputfile" id="embedpollfileinput1" onchange="generatePreviewImage(this)" style="width: 100%; height: 100%" multiple="true" accept="image/png, image/jpeg" name="images_input" />
            <label for="embedpollfileinput1" class="ui button" style="margin: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
              <i class="ui plus icon"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="actions" style="float: right; margin-top: 1rem;">
        <button class="ui cancel button" onclick="cancelCreatePost()">
          Huỷ
        </button>
        <div class="ui blue submit button">Tạo</div>
      </div>
    </div>
  </form>
</div>
<%# modal confirm xoá %>
<div class="ui mini modal confirm_delete_post">
  <div class="header">Xoá bài đăng</div>
  <div class="content">
    <p>Bạn có chắc muốn xoá bài đăng này?</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">Huỷ</div>
    <div class="ui appove button custom_btn" onclick="changePostStatus()">Xoá</div>
  </div>
</div>
<%# modal khôi phục %>
<div class="ui mini modal confirm_restore_post">
  <div class="header">Khôi phục bài đăng</div>
  <div class="content">
    <p>Bạn có chắc muốn khôi phục bài đăng này?</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">Huỷ</div>
    <div class="ui appove button custom_btn" onclick="changePostStatus()">Khôi phục</div>
  </div>
</div>

<style>
  .ck-editor__editable_inline {
    min-height: 150px;  
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js">
</script>
<script>
if(localStorage.getItem("update_post")) {
  toastr.success(localStorage.getItem("update_post"))
  localStorage.removeItem("update_post")
}
 $('.ui.dropdown')
  .dropdown();

// $(document).ready(function(){
//   $("#editor").validate({
//     rules: {
//       content: {
//         required: true
//       }
//     }
//     });
//   });

  // $('.special.cards .card .image').dimmer({
  //   on: 'hover'
  // });
// hHIỂN THỊ MODAL COFIRM SẼ XOÁ HOẶC KHÔI PHỤC
  function confirmChangePostStatus(post_id, post_status){
    $('#selected_post_id').val(post_id)
    if (post_status =="POSTED") {
      $(".ui.mini.modal.confirm_delete_post").modal('show');
    }
    else{
      $(".ui.mini.modal.confirm_restore_post").modal('show');
    }
  }
// SAU KHI BẤM NÚT XOÁ HOẶC KHÔI PHỤC Ở MODAL CONFIRM
  function changePostStatus() {
      let selected_post_id = $("#selected_post_id").val()
      $(".ui.mini.modal.confirm_delete_post").modal('hide');
      $(".ui.mini.modal.confirm_restore_post").modal('hide');
      $.ajax({
        type:"POST",
        url:"/manager/post-management/",
        dataType:"json",
        data: {id: selected_post_id},
        success:function(result){
          if (result.status == "POSTED") {
            document.getElementById(`post_status_${selected_post_id}`).innerHTML = "Đã đăng"
          } 
          else if (result.status == "DELETED") {
            document.getElementById(`post_status_${selected_post_id}`).innerHTML = "Đã xoá"
          }
          document.getElementById(`post_actions_${selected_post_id}`).innerHTML = `<i class='${result.status == 'POSTED' ?  'trash alternate' : 'window restore' } outline icon' onclick="confirmChangePostStatus(${selected_post_id}, '${result.status}')"></i>`;
          toastr.success(result.message);
        }
      })
  }
//CKEDITOR TẠO MỚI
  document.addEventListener("DOMContentLoaded", function(event) { 
    ClassicEditor
      .create(document.querySelector( '#editor' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageInsert'],
        heading: {
          options: [
            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
          ]
        }
      })
      .then((editor) => {})
      .catch( error => {
        console.error( error );
      })
//CKEDITOR SỬA 
    ClassicEditor
      .create(document.getElementById('editor_edit'), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageInsert'],
        heading: {
          options: [
            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
          ]
        }
      })
      .then((editor) => {})
      .catch( error => {
        console.error( error );
      })
    }

  );
//show post mở cả 2 modal và fill dữ liệu cả 2 modal
  function showPost(post_id) {
    $(`#show_modal_first_${post_id}`).modal('show');
    $(`#show_modal_second`)
    .modal('attach events', `#show_modal_first_${post_id} .button.proceed`);
    $.ajax({
      type: 'GET',
      url: `/manager/post-management/${post_id}`,
      success: function(result){
        $('#post_title_edit').val(null);
        $('#post_id_edit').val(null);
        $('#preview_image_edit').html(null);
        $('#post_title_edit').val(result.object.title);
        $('#editor_edit').next().children().next().next().children().children().html(result.object.content);
        $('#post_id_edit').val(result.object.id);
        $('#writer_name_edit').val(result.object.writer_name);
        let images = result.object.images
        for (var i = 0; i < images.length; i++){
          $('#preview_image_edit').append(`
            <div class='card' style="max-height: 20rem; height: 20rem" id="image_${i}">
              <img style="width: 100%; height: 100%;" src='${images[i].url}' />
            </div>`)
        }
      },
      error: function (error) {
        toastr.error('Show post failed!')
      }
    })
  
  }
  

  $('.coupled.modal')
    .modal({
      allowMultiple: false
    })

  function addPost() {
    $('.ui.longer.small.modal.add').modal('show');
    $('#myForm').form('reset');
  }

  //ADD POST
  // var allImage = [] 
  let myForm = document.getElementById('myForm');
  let formData = new FormData(myForm); //FORM DATA CHÍNH ĐỂ GỬI VỀ CONTROLLER
  function generatePreviewImage(image){ //IMAGE LÀ TẤT CẢ CÁC ẢNH ĐÃ CHỌN
    var index = 0;
    count = image.files.length;
    //IN RA THẺ TẤT CẢ CÁC ẢNH ĐÃ CHỌN DƯỚI DẠNG PREVIEW
    for (let i = 0; i < image.files.length; i++) {
      $('#preview_image').append(`<div class='card' style="height: 20rem" id="image_${index}">
                                <i class="ui window close outline icon" style="position: absolute; top: 0.5rem; right: 0.5rem; cursor: pointer;", onclick="removeImage(this)"></i>
                                <img style="width: 100%; height: 100%;" src='${URL.createObjectURL(image.files[i])}' />
                                </div>`)
      }
      // let myFormImage = document.getElementById('myForm');
      let formDataImage = new FormData(myForm); //FORM DATA CHỨA TẤT CẢ ẢNH ĐÃ CHỌN
      index++;
      for (let index = 0; index < formDataImage.getAll("images_input").length; index++) {
        formData.append('images', formDataImage.getAll("images_input")[index]); //THÊM ẢNH ĐÃ CHỌN VÀO FORMDATA CHÍNH
      }
  }

  function removeImage(_this){
    const preview_images = Array.prototype.slice.call( document.getElementById('preview_image').children )//LẤY MẢNG TÁT CẢ CÁC ẢNH HIỆN TẠI ĐANG CÓ Ở PREVIEW == CHÍNH
    $(_this).parent().remove();//XOÁ LUÔN CARD CHỨA ẢNH ĐA CHỌN XOÁ
    const index =  preview_images.indexOf( _this.parentElement ) //TÌM VỊ TRÍ CỦA THẰNG ĐÃ ĐƯỢC CHỌN XOÁ , MỤC
    let images = formData.getAll("images") //LẤY TẤT CẢ ANHE Ở FORMDATA CHÍNH RA
    images.splice(index-1, 1) //XOÁ ĐI ĐÚNG ẢNH CÓ VỊ TRÍ NÃY TÌM ĐƯỢC
    formData.delete('images') //XOÁ HẾT ẢNH TRONG DFORMDATA CHÍNH
    for (let index = 0; index < images.length; index++) { // THÊM LẠI SAU KHI ĐÃ XOÁ ẢNH
      formData.append('images', images[index])
    }
  }

  function createSubmit(e){
    e.preventDefault();
    let formdatapost = new FormData(document.getElementById('myForm'));
    let images = formData.getAll('images');
    for (let i = 0; i < images.length; i++) {
      formdatapost.append(`images[]`, images[i])
    }
    formdatapost.delete('images_input')
    formdatapost.delete('content')
    post_content = $('#editor').next().children().next().next().children().html()
    formdatapost.append('content', post_content)

    $.ajax({
      type: "POST",
      url: "/manager/post-management/create",
      processData: false,
      contentType: false,
      cache: false,
      mimeType: 'multipart/form-data',
      data: formdatapost,
      success: function(result){
        window.localStorage.setItem('new_post', JSON.parse(result).message)
        window.location = "/manager/post-management"
      },
      error: function (error) {
        toastr.error(JSON.parse(error.responseText).message)
      }
    })
  }

  function validateContent(field_id){
    $('.ui.pointing.red.basic.label.validate.content ').remove();
    x = document.querySelector("#ck_editor_create");
    var post_content = x.innerHTML
    console.log(post_content.length)
    if (post_content.replace(/<[^>]*>/gi, '').length < 1) {
      $(`#${field_id}`).append(`<div class="ui pointing red basic label validate content " style="color: #9f3a38!important; border-color: #e0b4b4!important">
                                    Vui lòng nhập nội dung!!
                                  </div>`)
    }
  }

  $('#myForm').off('submit').submit(function(e){
    if($('#myForm').form('is valid')) {
      console.log('form work')
      createSubmit(e);
    }
  })

  function cancelCreatePost(){
    $('#myForm').form('reset');
    $('.ui.longer.modal.add').find('.error').removeClass('error');
    $('.ui.longer.modal.add').modal('hide')
  }

  // UPDATE POST
  function updateSubmit(e){
    e.preventDefault();
    $.ajax({
      type: 'PUT',
      url: '/manager/post-management/update',
      data: {
        post: {
          id: $('#post_id_edit').val(),
          title: $('#post_title_edit').val(),
          content: $('#editor_edit').next().children().next().next().children().html(),
          writer_name: $('#writer_name_edit').val()
        }
      },
      success: function(result){
        window.localStorage.setItem('update_post', result.message)
        window.location.reload()
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  }

  $('#myEditForm').off('submit').submit(function(e){
    if($('#myEditForm').form('is valid')) {
      updateSubmit(e);
    }
  })

 function onSearch(){
   $.ajax({
        type: "GET",
        url: "/manager/post-management/find-post?q=" + $(".search-post-form").val() + "&status=" + $("#status_filter").dropdown('get value'),
        success: function(result){
          $('#post_list').html(result)
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
        }
      })
 }
  // Search

  $(document).on("turbolinks:load", function() {
    $(".search-post-form").on("keyup", function() {
      onSearch();
    });
  });
  //VALIDATION

   $('#myForm')
    .form({
      fields: {
        title: {
          identifier: 'title',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập tiêu đề!'
            },
            {
              type: 'maxLength[200]',
              prompt: 'Tiêu đề không được quá 200 ký tự!'
            }
          ]
        },
        writer_name: {
          identifier: 'writer_name',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập tên người viết!!'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;
  $('#myEditForm')
     .form({
      fields: {
        title: {
          identifier: 'title',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập tiêu đề!'
            },
            {
              type: 'maxLength[300]',
              prompt: 'Tiêu đề không quá 300 ký tự'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    });


</script>
<style>
.grid.container {
  margin-top: 5em;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.insert_image:hover {
  background-color: #e0e1e2;
  cursor: pointer;
}
.card {
      width: 31% !important;
      float: left;
    }
.dimmer {
  padding-top: 4rem !important;
}
</style>
