<% posts.each_with_index do |post, index|%>  
  <tr>
      <td onclick="showPost(<%= post.id %>)"><%= index + 1 %></td>
      <td style="width: 20rem" onclick="showPost(<%= post.id %>)">
        <span style="margin: 0 auto; word-wrap: break-word; max-width: 16rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
          <%= post.title %>
        </span>
      </td onclick="showPost(<%= post.id %>)">
      <td style="max-width: 25rem"onclick="showPost(<%= post.id %>)">
        <span style="margin: 0 auto; word-wrap: break-word; max-width: 26rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
          <%= post.content.html_safe %>
        </span>
      </td>
      <td onclick="showPost(<%= post.id %>)"><%= post.created_at.to_date %></td>
      <td onclick="showPost(<%= post.id %>)"><%= post.writer_name %></td>
      <td onclick="showPost(<%= post.id %>)" id="post_status_<%= post.id%>"><%= post.status%></td>
      <td id="post_actions_<%= post.id%>">
        <% if post.status == "POSTED" %>
          <i class="trash alternate outline icon" id="delete_post_<%= post.id %>" onclick="confirmChangePostStatus(<%= post.id %>, 'POSTED')"></i>
        <% elsif post.status == "DELETED" %>
          <i class="window restore outline icon" id="delete_post_<%= post.id %>" onclick="confirmChangePostStatus(<%= post.id %>, 'DELETED')"></i>
        <% end %>
      </td>
  </tr>
  <div class="ui long small modal first scrolling" id="show_modal_first_<%= post.id %>">
    <div class="scrolling content" style="padding: 3rem">
      <div class="description">
        <div class="ui header"><h2><%= post.title %></h2></div>
        <%# <div class="content" style=""><img style="width: 50%; margin: 0 auto; display: block;"/></div> %>
        <div class="content" style="margin-top: 2rem"><%= post.content.html_safe %></div>
        <% if post.images.length == 1 %>
        <div class="picture" style="width: 100%; height: 50rem; margin: 0 auto; display: flex;">
          <div style="background-image: url(<%= image_path post.images[0].url %>); width: 100%; height: 100%; margin: 0 auto; background-repeat: no-repeat; background-position: top;"></div>
        </div>
        <% elsif post.images.length > 1 %>
          <div class="picture" style="width: 100%; height: 25rem; margin: 0 auto; display: flex; margin-top: 2rem;">
            <div style="background-image: url(<%= image_path post.images[0].url %>); width: 50%; height: 100%; margin: 0 auto; background-repeat: no-repeat; background-position: cover; "></div>
            <div style="width: 50%; height: 100%; position: relative" >
              <div style="background-image: url(<%= image_path post.images[1].url %>); width: 100%; height: 100%; margin: 0 auto; background-repeat: no-repeat; background-position: cover; "></div>
              <% if post.images.length > 2 %>
                <div style="background-color: #000000; opacity: 0.5; position: absolute; top: 0; left: 0; width: 100%; height: 100%">
                </div>
                <p style="color: white; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; font-size: 3rem; ">
                  +<%= post.images.length - 2 %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>   
    </div>
    <div class="actions">
      <button class="ui cancel button">
        Cancel
      </button>
      <div class="ui primary approve button proceed">
        Proceed
        <i class="right chevron icon"></i>
      </div>
    </div>
  </div>
  <div class="ui longer small  modal second scrolling" id="show_modal_second_<%= post.id %>">
    <div class="header">
      Edit my post
    </div>
    <form id="myEditForm_<%= post.id %>" multipart="true" name="myEditForm" class="ui form segment" style="border: none; -webkit-box-shadow: none;">
      <div style="padding: 1rem">
        <div style="max-width: 0; max-height: 0; overflow: hidden;">
          <input autofocus="true" type="hidden" name="id" value="<%= post.id %>" />
        </div>
        <div class="field">
          <textarea name="title" rows="5" placeholder="Enter title"><%= post.title %></textarea>
        </div>
        <div class="field" onfocusout="validateContent('content_edit_field')" id="content_edit_field<%= post.id %>">
          <textarea type="file" name="content" id="editor_<%= post.id %>">
            <%= post.content %>
          </textarea>
        </div>
        <div class="content">
          <div class="ui special cards" id="preview_image_edit_<%= post.id %>"> 
            <div class="card" style="height: 20rem", id="preview_image_card_<%= post.id %>">
              <input type="file" class="inputfile" id="embedpollfileinput_<%= post.id %>" onchange="generatePreviewImageEdit(this)" item_index="<%= post.id %>" style="width: 100%; height: 100%" multiple="true" accept="image/png, image/jpeg" name="images_edit_input" />
              <label for="embedpollfileinput_<%= post.id %>" class="ui button" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
                <i class="ui plus icon"></i>
              </label>
            </div>
            <% for i in 0..post.images.length - 1 do %>
              <div class='card' style="max-height: 20rem; height: 20rem" id="image_<%= i %>">
              <i class="ui window close outline icon" style="position: absolute; top: 0.5rem; right: 0.5rem; cursor: pointer;", onclick="removeImage(this)"></i>
              <img style="width: 100%; height: 100%;" src='<%= post.images[i]%>' />
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions">
          <button class="ui cancel button">
            Cancel
          </button>
          <div class="ui primary submit button">Update</div>
        </div>
      </div>
    </form>
  </div>
<% end %>