<table class="ui very basic selectable table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Phòng</th>
      <th>Tháng</th>
      <th>Năm</th>
      <th>Tiền điện</th>
      <th>Tiền nước</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
      <th>Người thanh toán</th>
      <th>Hành động</th>
      <% if is_check == false %>
        <th style="display: none" class="checkbox_col">
        <div class="ui checkbox">
            <input type="checkbox" name="example" onchange="selectItem(this) ">
            <label></label>
          </div>
        </th>
      <% else %>
        <th class="checkbox_col">
        <div class="ui checkbox">
            <input id="check_all" type="checkbox" name="example" onchange="selectItem(this) ">
            <label></label>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% service_charges.each_with_index do |charge, index| %>
      <tr id="tr_service_charge_<%= charge.id %>">
        <td class='index'><%= index + 1 %></td>
        <td class='room_name'><%= charge.room.room_name %></td>
        <td class='month'><%= charge.month %></td>
        <td class='year'><%= charge.year %></td>
        <td class='electricity_price'><%= charge.electricity_price %></td>
        <td class='water_price'><%= charge.water_price %></td>
        <td class='total_price'><%= charge.total_price %></td>
        <td class='status'>
          <% if charge.status == "PAID" %>
            <a class="ui teal tag label">Đã thanh toán</a>
          <% elsif charge.status == "UNPAID" %>
            <a class="ui red tag label">Chưa thanh toán</a>
          <% end  %>
        </td>
        <td class='payer'><%= charge.payer %></td>
        <td>
          <i class="eye icon view_more" onclick="showServiceChargeInfo(<%= charge.room_id %>, <%= charge.year %>, <%= charge.month %>, <%= charge.id %>, <%= index + 1%>)"></i>
          <i class="trash alternate outline icon view_more" style="margin-left: 1rem" onclick="confirmDeleteBill( <%= charge.id %>)"></i>
        </td>
        <% if is_check == false %>
          <td style="display: none" class="checkbox_col">
            <div class="ui checkbox">
              <input class="remind_checkbox" type="checkbox" name="example" onchange="onHandleCheckbox(this)">
              <label></label>
            </div>
          </td>
        <% else %>
          <td class="checkbox_col">
            <div class="ui checkbox">
              <input class="remind_checkbox" type="checkbox" name="example" onchange="onHandleCheckbox(this)" value="<%= charge.id %>">
              <label></label>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>