  <div class="manager_header">
    <div class="ui secondary pointing menu">
      <% if logged_in? %>
        <%= link_to "Home", manager_homepage_path, class: "item", id: "manager_home_path", data: { turbolinks: false } %>
        <%= link_to "Posts", manager_post_management_path, class: "item", id: "manager_post_management_path", data: { turbolinks: false } %>
        <%= link_to "Student arrangement", manager_students_arrangement_path, class: "item", id: "manager_students_arrangement_path", data: { turbolinks: false } %>
        <%= link_to "Students", manager_student_management_path, class: "item", id: "manager_student_management_path", data: { turbolinks: false } %>
        <%= link_to "Rooms", manager_room_management_path, class: "item", id: "manager_room_management_path", data: { turbolinks: false } %>
        <%= link_to "Services", manager_service_management_path, class: "item", id: "manager_service_management_path", data: { turbolinks: false } %>
        <%= link_to "Reports", manager_report_management_path, class: "item", id: "manager_report_management_path", data: { turbolinks: false } %>

      <% else %>
        <%= link_to "Home", manager_homepage_path, class: "item", id: "manager_homepage_path", data: { turbolinks: false } %>
      <% end %>
      <div class="right menu">
        <div class="ui floating labeled icon dropdown button" style="position: relative; background-color: #ffffff" id="noti_button" >
          <img src="/assets/bell.png" style="width: 1.5rem; height: 1.5rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)" onclick="showNotiList()"/>
          <div class="floating ui red label" style="top: 0.5rem; left: 3rem; padding: 0.3rem; border-radius: 0.2rem;">22</div>
          <div class="menu">
            <h3 style="margin: 1rem;">Thong bao</h3>
            <div id="list_noti">
              <div class="item noti_item" style="width: 20rem; height: 4.5rem" id="first_item" >
                Important
              </div>
              <div class="item noti_item" style="width: 20rem; height: 4.5rem">
                Announcement
              </div>
              <div class="item noti_item" >
                <p style="width: 17rem; max-height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.5rem;  white-space: pre-wrap; display: -webkit-box">Discussio nDi scussionDis cussio nDiscu ssionDiscuss ionDiscussionDiscuss ionDiscussionDiscussionDiscussionDiscussionDiscussion
                </p>
              </div>
            </div>
          </div>
        </div>
         <div class="ui item floating dropdown labeled" id="language_dropdown" style="background-color: #ffffff; border-bottom: 2px solid rgba(34, 36, 38, 0.15)">
          <span class="text">
            <% if I18n.locale == :en %>
              <%= t(".english") %>
            <% else %>
              <%= t(".vienamese") %>
            <% end %>
          </span>
          <div class="menu" style="z-index: 3000">
            <%= link_to t(".english"), {locale:"en"}, class: "item", data: { turbolinks: false } %>
            <%= link_to t(".vienamese"), {locale:"vi"}, class: "item",  data: { turbolinks: false } %>
          </div>
        </div>
        <% if logged_in? %>
          <%= link_to t(".logout"), manager_logout_path, class: "item", data: { turbolinks: false } %>
        <% else %>
          <%= link_to "Login", manager_login_path, class: "item", id: "student_login_path", data: { turbolinks: false } %>
        <% end %>
      </div>
      <input type="hidden" name="current_channel" id="current_channel" value="<%= current_user.channel%>">
    </div>
  </div>
  <script>
    $(document).on('click', '#language_dropdown', function(){
      $('#language_dropdown').dropdown('show');
    });
    const current_url = window.location.pathname
    if (current_url.indexOf("/manager/students-arrangement") != -1) {
      $("#manager_students_arrangement_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/homepage") != -1 || current_url.indexOf("/manager/posts") != -1){
      $("#manager_home_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/post-management") != -1){
      $("#manager_post_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/student-management") != -1){
      $("#manager_student_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/room-management") != -1){
      $("#manager_room_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/service-management") != -1){
      $("#manager_service_management_path").addClass("active");
    }
    else if (current_url.indexOf("students") != -1){
      $("#home_path").addClass("active");
    }
      
    function showNotiList(){
      $('#noti_button').dropdown();
    }
  </script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script>
  let current_channel = document.querySelector("#current_channel").value;
  Pusher.logToConsole = true;

  var pusher = new Pusher('29056021d38b15b42578', {
    cluster: 'ap1',
    encrypted: true
  });
  var channel = pusher.subscribe(current_channel);
  channel.bind('new', function(data) {
    alert(JSON.stringify(data.notification.message));
    $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; height: 4.5rem; background-color: #e0e1e2" onclick="readNoti(this)">
                              <p style="width: 17rem; max-height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.5rem;  white-space: pre-wrap; display: -webkit-box">${data.notification.message}</p>
                            </div>`)
  });
  function readNoti(item){
    $(item).css("background-color", "white");
  }

  $(document).on("turbolinks:load", function() {
    $(".search-form-header").on("keyup", function() {
      $(".students").html("");
      $.ajax({
        type: "GET",
        url: "/manager/managers/search?q=" + this.value,
        success: function(result){
          $(".search-item").html(result.students[0].name)
        },
        error: function (error){
          console.log('error', error)
        }
      })
    });
  }); 
</script>
<style>
.active.selected {
  font-weight: normal !important;
  border: none !important;
}

.noti_item{
  cursor: pointer;
}
.noti_item:hover {
  background-color: #e8e8e8 !important;
}
</style>
