<div class="manager_header">
  <div class="ui secondary pointing menu">
    <% if logged_in_manager? %>
      <%= link_to manager_homepage_path, class: "item", id: "manager_home_path", data: { turbolinks: false } do %>
        <img src="/assets/logo1.jpeg" style="width: 7.8rem"/>
      <% end %>
      <%= link_to "Bài đăng", manager_post_management_path, class: "item", id: "manager_post_management_path", data: { turbolinks: false } %>
      <%= link_to "Sắp xếp học viên", manager_students_arrangement_path, class: "item", id: "manager_students_arrangement_path", data: { turbolinks: false } %>
      <%= link_to "Học viên", manager_student_management_path, class: "item", id: "manager_student_management_path", data: { turbolinks: false } %>
      <%= link_to "Phòng", manager_room_management_path, class: "item", id: "manager_room_management_path", data: { turbolinks: false } %>
      <%= link_to "Dịch vụ", manager_service_management_path, class: "item", id: "manager_service_management_path", data: { turbolinks: false } %>
      <%= link_to "Báo cáo", manager_report_management_path, class: "item", id: "manager_report_management_path", data: { turbolinks: false } %>
      <%= link_to "Toà nhà", manager_building_management_path, class: "item", id: "manager_building_management_path", data: { turbolinks: false } %>
    <% end %>
    <div class="right menu">
      <% if logged_in_manager? %>
        <div class="ui floating labeled icon dropdown button" style="position: relative; background-color: #ffffff" id="noti_button" >
          <img src="/assets/bell.png" style="width: 1.5rem; height: 1.5rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)" onclick="showNotiList()"/>
          <div id="unread" class="floating ui red label" style="display: none; top: 0.5rem; left: 3rem; padding: 0.3rem; border-radius: 0.2rem;"><%= current_user.notifications.where(is_read: 'false').count %></div>
          <div class="menu" >
            <h3 style="margin: 1rem;">Thông báo</h3>
            <div id="list_noti" style="max-height: 30rem; overflow: auto;">
              <% if current_user.notifications.length > 0 %>
                <% current_user.notifications.order('created_at DESC').each do |notification| %>
                  <% if notification.is_read %>
                    <div class="item noti_item" style="width: 20rem; max-height: 9.5rem; overflow: hidden; display: block">
                      <div onclick="readNotification(<%= notification.id %>, '<%= notification.noti_type %>', <%= notification.report_id || 0 %>, <%= notification.page || 0 %>)" style= "width: 17rem; line-height: 1.5rem;  white-space: pre-wrap;"><%= notification.message %></div>
                      <p style="font-size: 0.7rem; color: #b8b8b8"><%= time_ago(notification.created_at) %></p>
                    </div>
                  <% else %>
                    <div class="item noti_item" style="width: 20rem; max-height: 9.5rem; overflow: hidden; display: block; background-color: #e0e0e0">
                      <div onclick="readNotification(<%= notification.id %>, '<%= notification.noti_type %>', <%= notification.report_id || 0 %>, <%= notification.page || 0 %>)" style= "width: 17rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap;"><%= notification.message %></div>
                      <p style="font-size: 0.7rem; color: #b8b8b8"><%= time_ago(notification.created_at) %></p>
                    </div>
                  <% end %>
                <% end %>
              <% elsif current_user.notifications.length == 0 %>
                <div class="item noti_item" style="width: 20rem; height: 4.5rem" id="no_notification">
                  <div class="" style= "width: 17rem; height: 4.5rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center">Không có thông báo nào!</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
   
      <% if logged_in_manager? %>
        <%= link_to "Đăng xuất", manager_logout_path, class: "item", data: { turbolinks: false } %>
      <% else %>
        <%= link_to "Đăng nhập", manager_login_path, class: "item", id: "student_login_path", data: { turbolinks: false } %>
      <% end %>
    </div>
    <% if logged_in_manager? %>
     <input type="hidden" name="current_channel" id="current_channel" value="<%= current_user.channel%>">
    <% end %>
  </div>
</div>
<script>
  $(document).on('click', '#language_dropdown', function(){
    $('#language_dropdown').dropdown('show');

  });
    const current_url = window.location.pathname
    if (current_url.indexOf("/manager/students-arrangement") != -1) {
      $("#manager_students_arrangement_path").addClass("active");
    }
    // else if (current_url.indexOf("/manager/homepage") != -1 || current_url.indexOf("/manager/posts") != -1){
    //   $("#manager_home_path").addClass("active");
    // }
    else if (current_url.indexOf("/manager/post-management") != -1){
      $("#manager_post_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/student-management") != -1){
      $("#manager_student_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/room-management") != -1){
      $("#manager_room_management_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/service-management") != -1){
      $("#manager_service_management_path").addClass("active");
    }
    else if (current_url.indexOf("students") != -1){
      $("#home_path").addClass("active");
    }
    else if (current_url.indexOf("/manager/building-management") != -1){
      $("#manager_building_management_path").addClass("active");
    }

  function showNotiList(){
    $('#noti_button').dropdown();
  }
</script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script>
  $.ajax({
    type: 'GET',
    url: '/notifications/unread',
    success: function(result){
      if(result.unread == 0) {
        $("#unread").hide()
      } else {
        $("#unread").show()
      }
    }, 
    error: function (error) {

    }
  })
  let current_channel = document.querySelector("#current_channel").value;
  Pusher.logToConsole = true;

  var pusher = new Pusher('29056021d38b15b42578', {
    cluster: 'ap1',
    encrypted: true
  });
  var channel = pusher.subscribe(current_channel);
  channel.bind('new', function(data) {
    if (data.notification.is_read) {
      $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; max-height: 9.5rem; overflow: hidden; display: block; background-color: #e0e0e0">
                              <div onclick="readNotification(${data.notification.id}, '${data.notification.noti_type}', ${data.notification.report_id || 0}, ${data.notification.page || 0})" style= "width: 17rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center">${data.notification.message}</div>
                              <p style="font-size: 0.7rem; color: #b8b8b8">Vừa xong</p>
                            </div>`)
    } else {
      $('#list_noti').prepend(`<div class="item noti_item" style="width: 20rem; max-height: 9.5rem; overflow: hidden; display: block; background-color: #e0e0e0">
                              <div onclick="readNotification(${data.notification.id}, '${data.notification.noti_type}', ${data.notification.report_id || 0}, ${data.notification.page || 0})" style= "width: 17rem; overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 2.25rem;  white-space: pre-wrap; display: flex; align-items: center">${data.notification.message}</div>
                              <p style="font-size: 0.7rem; color: #b8b8b8">Vừa xong</p>
                            </div>`)
    }
    $("#no_notification").remove();
    $.ajax({
      type: 'GET',
      url: '/notifications/unread',
      success: function(result){
        if (result.unread == 0) {
          $("#unread").hide()
        } else {
          $("#unread").show()
        }
        $("#unread").html(result.unread)
      }, 
      error: function (error) {

      }
    })
  });
  function readNotification(noti_id, noti_type, report_id, page) {
    // $(item).css("background-color", "white");
    let redirect_url = ''
    if (noti_type == "create_complaint_report") {
      redirect_url = `/manager/report-management/complaint-reports/`
    } else if (noti_type == "create_facility_report") {
      redirect_url = `/manager/report-management/facility-reports/`
    } else if (noti_type == "create_form_request") {
      redirect_url = `/manager/report-management/form-requests`
    }
    $.ajax({
      type: "PUT",
      url: `/notifications/${noti_id}/read`,
      success: function(result){
        window.location = redirect_url
      },
      error: function (error) {
        toastr.error('Xin lỗi, chức năng đọc thông báo đang được bảo trì! Vui lòng truy cập bằng cách khác!')
      }
    })
    
  }   

  // $(document).on("turbolinks:load", function() {
  //   $(".search-form-header").on("keyup", function() {
  //     $(".students").html("");
  //     $.ajax({
  //       type: "GET",
  //       url: "/manager/managers/search?q=" + this.value,
  //       success: function(result){
  //         $(".search-item").html(result.students[0].name)
  //       },
  //       error: function (error){
  //         console.log('error', error)
  //       }
  //     })
  //   });
  // }); 
</script>
<style>
.active.selected {
  font-weight: normal !important;
  border: none !important;
}

.noti_item{
  cursor: pointer;
}
.noti_item:hover {
  background-color: #e8e8e8 !important;
}
</style>
