<p id="notice"><%= notice %></p>
<div class="room_management_show">
  <div class="ui grid">
    <div class="four wide column" style="padding-top: 5em">
      <%= render partial: "report_management_sidebar", locals: {active: 'form_request'} %>
    </div>
    <div class="twelve wide column">
      <div id="form_request" style="margin-top: 3rem">
        <div class="header" style="display: flex; justify-content: space-between;">
          <div class="header_title">
            <h3>Form request</h3>
          </div>
        </div>
        <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
        <div class="ui tabular menu">
          <a class="item active" id="pending_tab" onclick='findComplaintReportByStatus("PENDING")'>
            Pending
          </a>
          <a class="item" id="approved_tab" onclick='findComplaintReportByStatus("APPROVED")'>
            Approved
          </a>
          <a class="item" id="rejected_tab" onclick='findComplaintReportByStatus("REJECTED")'>
            Rejected
          </a>
        </div>
        <table class="ui very basic selectable table" style="margin-top: 2rem">
          <thead>
            <tr>
              <th style="text-align: center">STT</th>
              <th style="text-align: center">TYPE</th>
              <th style="text-align: center">CONTENT</th>
              <th style="text-align: center">NGAY HEN</th>
              <th style="text-align: center">NOTE</th>
              <th style="text-align: center">STATUS</th>
            </tr>
          </thead>
          <tbody id="reports_list">
            <% @form_requests.each_with_index do |report, index| %>
              <tr onclick="showReportInfo(<%= report.id %>)">
                <td style="text-align: center"><%= index + 1 %></td>
                <td>
                  <p style="margin: 0 auto; word-wrap: break-word; max-width: 12rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
                    <%= report.form_type %>
                  </p>
                </td>
                <td>
                  <span style="margin: 0 auto; word-wrap: break-word; max-width: 30rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
                    <%= report.description %>
                  </span>
                </td>
                <td>
                    <%= report.return_date %>
                </td>
                <td>
                  <span style="margin: 0 auto; word-wrap: break-word; max-width: 30rem; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box">
                    <%= report.note %>
                  </span>
                </td>
                <td>
                  <% if report.status == "PENDING" %>
                    <a class="ui teal tag label" style="width: 7rem"><%= report.status %></a>
                  <% elsif report.status == "APPROVED" %>
                    <a class="ui blue tag label" style="width: 7rem"><%= report.status %></a>
                  <% elsif report.status == "REJECTED" %>
                    <a class="ui red tag label" style="width: 7rem"><%= report.status %></a>
                  <% end  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%# MODAL SHOW INFO %>
<div class="ui small first modal report_info" id="show_info_modal">
  <i class="close icon"></i>
  <div class="content">
    <h3 id="title_show"></h3>
    <p id="description_show"></p>
    <input type="hidden" id="report_id_show" value=""/>
  </div>
  <div class="actions" style="padding: 0.7rem 1rem;">
    <div class="ui black reject button">
      Reject
    </div>
    <div class="ui teal approve button">
      Approve
    </div>
  </div>
</div>

<%# DENY MODAL %>

<div class="ui small second modal reject" >
  <i class="close icon"></i>
  <div class="header">Reject reason</div>
  <div class="content ">
    <form id="reject_form" name="reject_form">
      <div class="ui form">
        <div class="field">
          <input type="hidden" id="report_id_reject" name="report_id"/>
          <textarea name="note" placeholder= "We are currently unable to process your request. Any questions please contact the management directly" rows="5" value="" id="note"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="actions" style="padding: 0.7rem 1rem;">
    <div class="ui black cancel button">
      Cancel
    </div>
    <div class="ui teal button" onclick="submitReject()">
      Reject
    </div>
  </div>
</div>

<div class="ui small third modal approve">
  <i class="close icon"></i>
  <div class="header">Approve</div>
  <div class="content ">
    <form id="reject_form" name="reject_form">
      <div class="ui form">
        <h3>Return date</h3>
        <div class="ui calendar" id="return_date">
          <div class="ui input" >
            <input type="text" placeholder="Return date" id="return_date_input">
          </div>
        </div>
        <div class="field" style="margin-top: 0.5rem;">
          <input type="hidden" id="report_id_reject" name="report_id"/>
          <textarea name="note" placeholder= "Enter note for student" rows="5" value="" id="approve_note"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="actions" style="padding: 0.7rem 1rem;">
    <div class="ui black cancel button">
      Cancel
    </div>
    <div class="ui teal button" onclick="submitApprove()">
      Approve
    </div>
  </div>
</div>
<script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
    <link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" />
<script>
  $("#manager_report_management_path").addClass("active");
  $('.coupled.modal')
    .modal({
      allowMultiple: false
    })
  ;
  // attach events to buttons
  $('.second.modal')
    .modal('attach events', '.first.modal .reject')
  ;

  $('.third.modal').modal('attach events', '.first.modal .approve')
  ;

  var today = new Date();
  $('#return_date').calendar({
    type: 'date',
    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
  });
  function showReportInfo(report_id){
    $('.ui.small.first.modal.report_info').modal('show');
  //  reset form phake
   $('#note').val("")
    $.ajax({
      type: "GET",
      url: `/manager/report-management/form-requests/${report_id}`, 
      data: {
        "id": report_id
      },
      success: function(result){
        $('#title_show').html(result.form_request.title)
        $('#description_show').html(result.form_request.description)
        $('#report_id_show').val(result.form_request.id)
        $('#report_id_reject').val(result.form_request.id)
      },
      error: function (error) {
        console.log(error)
      }
    })
  }

  function findComplaintReportByStatus(status){
    $.ajax({
      type: "GET",
      url: "/manager/report-management/form-requests/find-by-status",
      data: { 
        "status": status 
      },
      success: function(result){
        console.log("success")
        $("#reports_list").html(result)
        if (status == "PENDING") {
          $("#pending_tab").addClass("active");
          $("#approved_tab").removeClass("active");
          $("#rejected_tab").removeClass("active");
        }
        else if (status == "APPROVED"){
          $("#pending_tab").removeClass("active");
          $("#approved_tab").addClass("active");
          $("#rejected_tab").removeClass("active");
        }
        else if (status == "REJECTED"){
          $("#pending_tab").removeClass("active");
          $("#approved_tab").removeClass("active");
          $("#rejected_tab").addClass("active");
        }
      },
      error: function (error) {

      }

      })
  }

  function submitReject(){
    let report_id = $('#report_id_reject').val();
    $.ajax({
      type: "PUT",
      url: `/manager/report-management/form-requests/${report_id}/reject`,
      data: { 
        "report": {
          "id" : report_id,
          "note": $("#note").val()
        }
      },
      success: function(result){
         toastr.success("Rejected successfully");
        $('.ui.small.second.modal.reject').modal('hide');
        $("#reports_list").html(result)
      },
      error: function (error) {
        toastr.success(error.message)
      }
    })
  }

  function submitApprove(){
    let report_id = $('#report_id_show').val();
    $.ajax({
      type: "PUT",
      url: `/manager/report-management/form-requests/${report_id}/approve`,
      data: { 
        "report": {
          "id" : report_id,
          "note": $("#approve_note").val(),
          "return_date": $("#return_date_input").val()
        }
      },
      success: function(result){
        toastr.success("Approved successfully");
        $('.ui.small.first.modal.report_info').modal('hide');
        $("#reports_list").html(result)

      },
      error: function (error) {
        toastr.success(error.message)
      }
    })
  }
  
    // show first now
</script>