<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%"><%= index %></td>
<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%"><%= room.room_name %></a></td>
<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%"><%= room.number_student %></a></td>
<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%"><%= room.max_number_student %></a></td>
<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%"><%= room.room_type %></a></td>
<td><a class="room_list_item" href="/manager/room-management/rooms/<%= room.id %>" style="display: block; width: 100%">
  <a class="ui teal tag label teal_label" style="width: 7.3rem"><%= room.status %></a>
</a></td>