  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên phòng</th>
        <th>Số học viên</th>
        <th>Số học viên tối đa</th>
        <th>Loại phòng</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody id="room_list">
      <% rooms.each_with_index do |room, index| %>
        <tr>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= index + 1 %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.room_name %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.number_student %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.max_number_student %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <% if room.room_type == 'VIP' %>
              Phòng VIP
            <% else %>
              Phòng thường
            <% end %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <% if room.status == 'FULL' %>
              <a class="ui tag label" style="background-color: #3889c8; color: #ffffff !important">Đã đầy</a>
            <% elsif room.status == 'UNFILLED' %>
              <a class="ui teal tag label teal_label" style="">Đang còn chỗ</a>
            <% else %>
              <a class="ui tag label" style="">Đang bỏ trống</a>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>