  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Member</th>
        <th>Max member</th>
        <th>Room type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="room_list">
      <% rooms.each_with_index do |room, index| %>
        <tr>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= index + 1 %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.room_name %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.number_student %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.max_number_student %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <%= room.room_type %>
          <% end %>
          </td>
          <td>
          <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
            <a class="ui teal tag label teal_label" style="width: 7.3rem"><%= room.status %></a>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>