<div class="student_management_list">
  <div class="header" style="display: flex; justify-content: space-between;">
    <div class="header_title">
      <h3>Quản lý phòng: </h3>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addRoom()">
        <i class="plus icon"></i>
      </button>
      <div class="ui selection dropdown filter_item" id="status_filter">
        <input type="hidden" onchange="onSearch()">
        <div class="default text">Trạng thái</div>
        <div class="menu">
          <div class="item" data-value="FULL">Đã đầy</div>
          <div class="item" data-value="UNFILLED">Đang còn chỗ</div>
          <div class="item" data-value="PENDING">Đang bỏ trống</div>
          <div class="item" data-value="ALL">Tất cả</div>
        </div>
      </div>
      <div class="ui icon input" style="">
        <input type="text" placeholder="Nhập tên phòng" name="q" id="q" class="form-control search-room-form" >
        <i class="icon">
          <img src="/assets/search.png" style="width: 1rem; height: 1rem; width: 1rem; top: 50%; position: absolute; transform: translateY(-50%);right: 0.7rem;">
        </i> 
      </div>
    </div>
  </div>
  <div class="footer_line" style="height: 1px; background-color: rgba(34,36,38,.15); margin-top: 0.5rem; margin-bottom: 1.5rem"></div>
  <div id="room_list">
    <table class="ui very basic selectable table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên phòng</th>
          <th>Số học viên</th>
          <th>Số học viên tối đa</th>
          <th>Loại phòng</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody >
        <% @rooms.each_with_index do |room, index| %>
          <tr>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <%= index + 1 + (@page - 1)* Settings.report_pagination%>
            <% end %>
            </td>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <%= room.room_name %>
            <% end %>
            </td>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <%= room.number_student %>
            <% end %>
            </td>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <%= room.max_number_student %>
            <% end %>
            </td>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <% if room.room_type == "NORMAL" %>
                Phòng thường
              <% else %>
                Phòng VIP
              <% end %>
            <% end %>
            </td>
            <td>
            <%= link_to "/manager/room-management/rooms/#{room.id}", style: "display: block; width: 100%", data: { turbolinks: false } do %>
              <% if room.status == 'FULL' %>
                <a class="ui tag label" style="background-color: #3889c8; color: #ffffff !important">Đã đầy</a>
              <% elsif room.status == 'UNFILLED' %>
                <a class="ui teal tag label teal_label" style="">Đang còn chỗ</a>
              <% else %>
                <a class="ui tag label" style="">Đang bỏ trống</a>
              <% end %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mt-4" style="float: right">
      <%= paginate @rooms, turbolinks: false %>
    </div>
  </div>
</div>

<div class="ui mini modal add_room">
  <div class="header">
    Tạo một phòng mới
  </div>
  <p style="padding-left: 3rem; padding-top: 1rem; margin-bottom: 0rem; color: #c7c7c7;">
  Lưu ý: Đặt tên phòng với định dạng Tentoanha_tenphong
  VD: A2_1010
  </p>
  <form id="add_room_form" class="ui form segment" name="add_room_form" style="border: none; -webkit-box-shadow: none; margin: 0 !important">
    <div class="content">
      <div class="description">
        <div class="ui field" style="display: block; width: 85%; margin: 1rem auto;" id="room_name_field" onfocusout="checkDuplicate(this)">
          <div class="ui left corner labeled input">
            <input type="text" placeholder="Tên phòng" style="display:block; width: 100%" name="room_name">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="ui field" style="display: block; width: 85%; margin: 1rem auto;">
          <div class="ui left corner labeled input">
            <input type="text" placeholder="Số học viên tối đa" style="display:block; width: 100%" name="max_number_student">
            <div class="ui left corner label">
              <i class="asterisk icon"></i>
            </div>
          </div>
        </div>
        <div class="ui field" style="display: block; width: 85%; margin: 1rem auto;">
          <div class="ui selection dropdown field" id="room_type_dropdown">
            <input type="hidden" name="room_type" value="">
            <i class="dropdown icon"></i>
            <div class="default text">Loại phòng</div>
            <div class="menu">
              <div class="item" data-value="NORMAL" selected="">Phòng thường</div>
              <div class="item" data-value="VIP">Phòng VIP</div>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="actions" style="display: flex; justify-content: center">
      <button class="ui cancel button" onclick="cancelCreateRoomModal()">
        Huỷ
      </button>
      <div class="ui blue submit button">
        Tạo
        <i class="right chevron icon"></i>
      </div>
    </div>
  </form>
</div>

<script>
if(window.localStorage.getItem('create_room')) {
  toastr.success(window.localStorage.getItem('create_room'))
  localStorage.removeItem('create_room')
}

  function addRoom() {
    $('#add_room_form').form('reset');
    $('.ui.mini.modal.add_room').modal('show');
  }

  $('.ui.dropdown')
    .dropdown()
  ;

  function addSubmit(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "/manager/room-management/create",
      data: {
        "room": {
          "room_name": document.querySelectorAll('input[name=room_name]')[0].value,
          "room_type": document.querySelectorAll('input[name=room_type]')[0].value,
          "max_number_student": document.querySelectorAll('input[name=max_number_student]')[0].value
        }
      },
      success: function(result){
        window.localStorage.setItem('create_room', result.message);
        window.location.reload()
      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  }

  //VALIDATE CREATE ROOM

   $('#add_room_form')
    .form({
      fields: {
        room_type: {
          identifier: 'room_type',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng chọn loại phòng!!'
            }
          ]
        },
        max_number_student: {
          identifier: 'max_number_student',
          rules: [
            {
              type: 'empty',
              prompt: 'Vui lòng nhập số lượng học viên tối đa của phòng !!'
            },
            {
              type: 'integer[0..6]',
              prompt: 'Số lượng học viên của phòng phải là số tự nhiên từ 0 đến 6'
            }
          ]
        }
      },
      inline: true,
      on: 'blur'
    })
  ;

  async function checkDuplicate(){
    current_name = document.querySelectorAll('input[name=room_name]')[0].value
    let result
    await $.ajax({
      type: "POST",
      url: "/manager/room-management/checkduplicate",
      data: {
        "room_name": current_name
      },
      success: function(_result){
        $('#room_name_field').removeClass('error');
        $('#room_name_error').remove();
        result = true
      },
      error: function (error) {
        console.log(error)
        if (error.responseJSON.is_duplicate == true) {
          $('#room_name_field').find('.error').removeClass('error');
          $('#room_name_field').addClass("error")
          $('#room_name_field').append(`<div class="ui basic red pointing prompt label transition visible" id="room_name_error">Tên phòng đã được tạo, vui lòng kiểm tra và đổi sang tên khác nhé!</div>`)
          result = false
        }
      }
    })
    return result
  }
  $('#add_room_form').off('submit').submit(async function(e){
    e.preventDefault();
    if($('#add_room_form').form('is valid')) {
      if (await checkDuplicate() == true){
        console.log("is valid")
        addSubmit(e)
      }
    }
  })

  $('#room_type_dropdown').dropdown('set selected', "NORMAL");

  function cancelCreateRoomModal(){
    $('#add_room_form').form('reset');
    $("#add_room_form").find('.error').removeClass('error');
    $('.ui.mini.modal.add_room').modal('hide');
  }
  // SEARCH ROOM

  function onSearch() {
      $.ajax({
        type: "GET",
        url: "/manager/room-management/find-room?q=" + $(".search-room-form").val() + "&status=" + $("#status_filter").dropdown('get value'),
        success: function(result){
          $('#room_list').html(result)
          console.log('success' + result)
        },
        error: function (error){
          console.log('error', error)
          if (error.responseJSON.is_all == true) {
            window.location.href = '/manager/room-management'
          }
        }
      })
  }
  $(document).on("turbolinks:load", function() {
    $(".search-room-form").on("keyup", function() {
     onSearch()
    });
  });
</script>
