<div class="room_detail" style="margin-top: 5rem">
  <div class="ui grid">
    <div class="seven wide column">
      <input type="hidden" value="<%= room.id%>" id="room_id_input">
      <div class="">
        <p style="font-size: 4rem; margin-bottom: 0.7rem;"><%= room.room_name %></p>
        <p style="font-size: 1.5rem">
        <% if room.room_type == 'VIP' %>
          <b><%= room.room_type %></b>
        <% elsif room.room_type == 'NORMAL'%>
          <b>Thường</b>
        <% end %>
        </p>
      </div>
      <div class="ui grid" style="margin-top: 0.5rem"> 
        <div class="ten wide column" style="font-style: italic; font-size: 1.1rem"><%= t(".number_of_member") %></div>
        <div class="five wide column" style="font-style: italic; font-size: 1.1rem" id="room_current_member"><%= room.number_student %>/<%= room.max_number_student %></div>
      </div>
      <div class="ui grid" style="margin-top: 0.1rem">
        <div class="ten wide column" style="font-style: italic; font-size: 1.1rem"><%= t(".room_for") %></div>
        <div class="five wide column" style="font-style: italic; font-size: 1.1rem">
          <% if room.gender == 'MALE' %>
            <a class="ui basic image mini label">
              <img src="/assets/elliot.jpeg"> <%= t(".male") %>
            </a>
          <% elsif room.gender == 'FEMALE' %>
            <a class="ui basic image mini label">
              <img src="/assets/stevie.jpeg"> <%= t(".female") %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="nine wide column" style="margin-top: 1.6rem;">
      <img src="/assets/teamwork.svg" style="width: 100%"/>
    </div>
  </div>
</div>
<div class="room_member" style="margin-top: 3rem; height: 100%" >
  <div class="room_member_title">
    <h3><%= t(".room_member") %>:</h3>
  </div>
  <div  style= "margin-top: 2rem; height: 100%; width: 100%;"  ondrop="drop(event)" ondragover="allowDrop(event)">
      <div class="room_member_list ui grid">
      <% room.students.each do |student|%>
        <div class="students_item eight wide column" id="student_<%= student.id %>" draggable="true" ondragstart="drag(event)" style="background-color: white; position:relative; height: 9rem">
        <div class="ui grid" >
          <button onclick="removeStudent(<%= student.id%>)" class="ui compact icon button" style="position: absolute; right: 0.5rem; top: 0.5rem; z-index: 100; padding: 0.3rem">
            <i class="close icon"></i>
          </button>
          <div class="three wide column avatar" style="">
            <% if student.student_profile.avatar.url %>
              <img src="<%= student.student_profile.avatar.url %>" style="width: 2.5rem; height: 2.5rem; border-radius: 50%">
            <% else %>
              <img src="/assets/profile.png" style="width: 2.5rem; height: 2.5rem; border-radius: 50%">
            <% end %>
          </div>
          <div class="thirteen wide column student_information" style="">
            <h4><%= student.name %></h4>
            <div style="display: flex; justify-content: flex-start; align-items: center">
              <a class="ui mini label" style="background-color: #3889c8; color: #fff !important; font-size: .9rem; margin-right: 1rem"><%= student.student_id_number %></a>
              <% if student.student_profile.gender == 'MALE' %>
                <a class="ui basic image mini label">
                  <img src="/assets/elliot.jpeg"> <%= t(".male") %>
                </a>
              <% elsif student.student_profile.gender == 'FEMALE' %>
                <a class="ui basic image mini label">
                  <img src="/assets/stevie.jpeg"> <%= t(".female") %>
                </a>
              <% end %>
            </div>
            <div class="ui label" style="margin-top: 0.5rem">
              <i class="ui edit outline icon"></i>
              <%= student.created_at.to_date %>
            </div>
          </div>
        </div>
      </div>

      <div class="ui mini modal" id="confirm-delete-<%= student.id %>">
        <div class="ui icon header">
          <i class="archive icon"></i>
          <%= t(".remove_student_form_title") %>
        </div>
        <div class="content">
          <p><%= t(".remove_student_form_confirm") %></p>
        </div>
        <div class="actions" style="display: flex; justify-content: center">
          <div class="ui negative button">
            <i class="remove icon"></i>
            <%= t(".cancel") %>
          </div>
          <div class="ui positive right labeled icon button custom_btn" onclick="confirmRemove(<%= student.id %>)">
            <i class="checkmark icon"></i>
            <%= t(".approve") %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<script>
   function removeStudent(student_id){
      $(`#confirm-delete-${student_id}`)
    .modal('show')
  ;
  }
  function confirmRemove(student_id){
     $.ajax({
      type: "DELETE",
      url: `/manager/student-management/${student_id}/delete`,
      success: function(result){
        toastr.success(result.message)
        $(`#student_${student_id}`).remove();
        $('#room_current_member').html((result.room.number_student - 1) + "/" + result.room.max_number_student)
        $(`#room_member_card_${result.room.id}`).html(result.room.number_student - 1)

      },
      error: function (error) {
        toastr.error(error.responseJSON.message)
      }
    })
  }
</script>