<div class="facility_management_list">
  <div class="header" style="display: flex; justify-content: space-between; align-items: flex-end">
    <div style="font-weight: bold"><a href="/manager/building-management" class="breadcrumb">Toà nhà</a> / 
      <a href="/manager/building-management/<%= @room.building.id %>" class="breadcrumb"><%= @room.building.name %></a> /
      <a href="/manager/room-management/rooms/<%= @room.id %>" class="breadcrumb"><%= t(".room") %> <%= @room.room_name %></a> /
      <a href="/manager/room-management/rooms/<%= @room.id %>/facilities" class="breadcrumb">Cơ sở vật chất</a>
    </div>
    <div class="header_search">
      <button class="ui icon button" onclick="addFacility()">
        <i class="plus icon"></i>
      </button>
    </div>
  </div>
  <div class="ui inverted divider"></div>
  <table class="ui very basic selectable table">
    <thead>
      <tr>
        <th style="text-align: center">STT</th>
        <th style="text-align: center">Tên thiết bị</th>
        <th style="text-align: center">Số lượng</th>
        <th style="text-align: center">Trạng thái</th>
        <th style="text-align: center">Mô tả</th>
      </tr>
    </thead>
    <tbody>
      <% @facilities.each_with_index do |f, index|%>
        <tr onclick="showFacilityInfo(<%= f.id %>)">
          <td style="text-align: center"><%= index + 1 %></td>
          <td style="text-align: center"><%= f.name %></td>
          <td style="text-align: center"><%= f.quantity %></td>
          <td style="text-align: center">
          <% if f.status == "NEW"  %>
            <a class="ui mini label" style=" background-color: #3889c8; color: #fff !important">Mới</a>
          <% elsif f.status == "REPAIRING"  %>
            <a class="ui mini label" style=" background-color: #3889c8; color: #fff !important">Đang sửa</a>
          <% else %>
            <a class="ui mini label" style=" background-color: #3889c8; color: #fff !important">Đang hỏng</a>
          <% end %>
          </td>
          <td style="text-align: center"><%= f.detail %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="ui first modal facility_info">
  <i class="close icon"></i>
  <div class="header">
    Cơ sở vật chất
  </div>
  <div class="" style="margin-top: 2rem">
    <div class="ui grid" style="margin-bottom: 2rem">
      <div class="one wide column"></div>
      <div class="five wide column">
        <div class="facility_attr">
          <label>Tên thiết bị:</label>
          <div id="facility_name"></div>
        </div>
      </div>
      <div class="five wide column">
        <div class="facility_attr">
          <label>Số lượng: </label>
          <div>
            <a class="ui mini label" style=" background-color: #f4810b; color: #fff !important" id="facility_quantity">Default</a>
          </div>
        </div>
      </div>
      <div class="five wide column">
        <div class="facility_attr">
          <label>Trạng thái: </label>
          <a class="ui mini label" style=" background-color: #3889c8; color: #fff !important" id="facility_status">Default</a>
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="fifteen wide column">
        <div class="facility_attr">
          <label>Mô tả: </label>
          <div id="facility_detail">Default</div>
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="fourteen wide column">
        <div style="display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap;" id="facility_image">
          <img src="/assets/profile.png" style="width: 30%">
          <img src="/assets/profile.png" style="width: 30%">
          <img src="/assets/profile.png" style="width: 30%">
          <img src="/assets/profile.png" style="width: 30%">
        </div>
      </div>
    </div>
  </div>
  <div class="actions" style="padding: 0.7rem 1rem;">
    <div class="ui delete button">
      Xoá
    </div>
    <div class="ui button edit custom_btn">
      Cập nhật
    </div>
  </div>
</div>

<div class="ui second modal facility_info">
  <i class="close icon"></i>
  <div class="header">
    Cập nhật cơ sở vật chất
  </div>
  <form class="ui form" style="margin: 2rem 1.5rem" id="edit_facility_form">
    <div class="three fields">
      <input type="hidden" id="facility_id_edit" value="">
      <div class="field">
        <label>Tên thiết bị</label>
        <input type="text" id="facility_name_edit"  name="name" placeholder="Tên thiết bị">
      </div>
      <div class="field">
        <label>Số lượng</label>
        <input type="text" id="facility_quantity_edit" name="quantity" placeholder="Số lượng">
      </div>
      <div class="field">
        <label>Trạng thái</label>
        <div class="ui selection dropdown" id="facility_status_edit_menu">
          <input name="status" id="facility_status_edit">
          <i class="dropdown icon"></i>
          <div class="default text" style="color: black" id="facility_status_text">Trang thai</div>
          <div  class="menu">
            <div class="item" data-value="NEW">Mới</div>
            <div class="item" data-value="REPAIRING">Đang sửa</div>
            <div class="item" data-value="BROKEN">Bị hỏng</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Mô tả</label>
      <textarea type="text" id="facility_detail_edit" name="detail" rows="4" placeholder="Detail"></textarea>
    </div>
    <div class="actions" style="padding: 0.7rem 1rem;">
      <div class="ui deny button">
        Huỷ
      </div>
      <div class="ui submit button" style="background-color: #3889c8; color: white">
        Cập nhật
      </div>
    </div>
  </form>
</div>

<div class="ui mini modal" id="confirm-delete">
  <input type="hidden" id="facility_id_delete" value="">
  <div class="ui icon header" style="border: none !important">
    <i class="archive icon"></i>
    Xoá thiết bị cơ sở vật chất
  </div>
  <div class="content">
    <p>Bạn có chắc muốn xoá thiết bị này?</p>
  </div>
  <div class="actions" style="display: flex; justify-content: center">
    <div class="ui negative button">
      <i class="remove icon"></i>
      Huỷ
    </div>
    <div class="ui positive right labeled icon button custom_btn" onclick="confirmRemove()">
      <i class="checkmark icon"></i>
      Xoá
    </div>
  </div>
</div>

<div class="ui longer scrolling small modal add">
  <div class="header">
    Tạo mới thiết bị
  </div>
  <form id="myForm" multipart="true" name="myForm" class="ui form segment" style="border: none; -webkit-box-shadow: none; margin-top: 0">
    <input type="hidden" name="room_id" id="room_id" value="<%= @room.id %>">
    <div class="ui form" style="padding: 1rem">
      <div style="max-width: 0; max-height: 0; overflow: hidden;">
        <input autofocus="true" />
      </div>
      <div class="field">
        <label>Tên thiết bị:</label>
        <textarea name="name" placeholder="Tên thiết bị" rows="1"></textarea>
      </div>
      <div class="field" style="margin-top: 2.5rem">
        <label>Mô tả:</label>
        <textarea name="detail" placeholder="Mô tả" rows="8"></textarea>
      </div>
      <div class="content" style="margin-top: 2.5rem">
        <div class="ui special cards" id="preview_image"> 
          <div class="card" style="height: 20rem", id="preview_image_card">
            <input type="file" class="inputfile" id="embedpollfileinput1" onchange="generatePreviewImage(this)" style="width: 100%; height: 100%" multiple="true" accept="image/png, image/jpeg" name="images_input" />
            <label for="embedpollfileinput1" class="ui button" style="margin: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
              <i class="ui plus icon"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="actions" style="float: right; margin-top: 1rem;">
        <button class="ui cancel button" onclick="cancelCreatePost()">
          Huỷ
        </button>
        <div class="ui blue submit button custom_btn">Cập nhật</div>
      </div>
    </div>
  </form>
</div>

<script>
  if (localStorage.getItem("create_facility")) {
    toastr.success(localStorage.getItem("create_facility"))
    localStorage.removeItem("create_facility")
  }
    if (localStorage.getItem("update_facility")) {
    toastr.success(localStorage.getItem("update_facility"))
    localStorage.removeItem("update_facility")
  }
  function showFacilityInfo(facility_id) {
    $('.ui.modal.first.facility_info').modal('show');
    $.ajax({
      type: "GET",
      url: `/manager/facility-management/${facility_id}`,
      success: function(result){
        $('#facility_name').html(result.facility.name)
        $('#facility_quantity').html(result.facility.quantity)
        if (result.facility.status == "NEW") {
          $('#facility_status').html("Mới")
        }
        else if (result.facility.status == "REPAIRING"){
          $('#facility_status').html("Đang sửa")
        }
        else {
          $('#facility_status').html("Đang hỏng")
        }
        // $('#facility_status').html(result.facility.status)
        $('#facility_detail').html(result.facility.detail)
        $('#facility_detail_edit').val(result.facility.detail)
        $('#facility_image').html('')
        result.facility.images.forEach(image => {
          $('#facility_image').append(`<img src="${image.url}" style="width: 30%">`)
        })
        $('#facility_name_edit').val(result.facility.name)
        $('#facility_quantity_edit').val(result.facility.quantity)
        $('#facility_status_edit').val(result.facility.status)
        if (result.facility.status == "NEW") {
          $('#facility_status_text').html("Mới")
        }
        else if (result.facility.status == "REPAIRING"){
          $('#facility_status_text').html("Đang sửa")
        }
        else{
          $('#facility_status_text').html("Đang hỏng")
        }
        $('#facility_id_edit').val(facility_id)
        $('#facility_id_delete').val(facility_id)

      },
      error: function(error) {
        
      }
    })
  }

  function updateSubmit(e) {
    let facility_id = $('#facility_id_edit').val()
    console.log($('#facility_status_edit_menu').dropdown('get value'))
    e.preventDefault()
    $.ajax({
      type: "PUT",
      url: `/manager/facility-management/${facility_id}/update`,
      data: {
        "facility": { 
          "name": $('#facility_name_edit').val(), 
          "quantity": $('#facility_quantity_edit').val(), 
          "detail": $('#facility_detail_edit').val(), 
          "status": $('#facility_status_edit_menu').dropdown('get value')
        }
      },
      success: function(result){
        localStorage.setItem("update_facility", result.message)
        window.location.reload()
      },
      error: function (error) {
        toastr.error('Cập nhật thiết bị thất bại :(')
      }
    })
  }

  $('#confirm-delete')
    .modal('attach events', '.ui.delete.button');

  $('.second.modal')
    .modal('attach events', '.first.modal .button.edit');

  $('.ui.dropdown')
  .dropdown();

  function confirmRemove() {
    facility_id = $('#facility_id_delete').val()
    $.ajax({
      type: "POST",
      url: `/manager/facility-management/${facility_id}/delete`,
      data: { 
        "facility_id": facility_id
      },
      success: function(result){
        toastr.success(result.message);
        window.location.reload();
      },
      error: function (error) {
        toastr.success(error.responseJSON.message)
      }
      
    })
  }

  function addFacility(){
    $('.ui.longer.small.modal.add').modal('show')
    $('#room_id').val()
  };

  var allImage = [] 
  let myForm = document.getElementById('myForm');
  let formData = new FormData(myForm);

  function generatePreviewImage(image){
    var index = 0;
    count = image.files.length;
    // uploadFile(image.files[0])

    for (let i = 0; i < image.files.length; i++) {
      $('#preview_image').append(`<div class='card' style="height: 20rem" id="image_${index}">
                                <i class="ui window close outline icon" style="position: absolute; top: 0.5rem; right: 0.5rem; cursor: pointer;", onclick="removeImage(this)"></i>
                                <img style="width: 100%; height: 100%;" src='${URL.createObjectURL(image.files[i])}' />
                                </div>`)
    }
    let myFormImage = document.getElementById('myForm');
    let formDataImage = new FormData(myForm);
    index++;
    for (let index = 0; index < formDataImage.getAll("images_input").length; index++) {
      formData.append('images', formDataImage.getAll("images_input")[index]);
    }
  }

  function removeImage(_this){
    const preview_images = Array.prototype.slice.call( document.getElementById('preview_image').children )
    $(_this).parent().remove();
    const index =  preview_images.indexOf( _this.parentElement )
    let images = formData.getAll("images")
    images.splice(index-1, 1)
    formData.delete('images')
    for (let index = 0; index < images.length; index++) {
      formData.append('images', images[index])
    }
  }

  function addSubmit(e) {
    e.preventDefault();
    let formdatafacility = new FormData(document.getElementById('myForm'));
    let images = formData.getAll('images');
    for (let i = 0; i < images.length; i++) {
      formdatafacility.append(`images[]`, images[i])
    }
    formdatafacility.delete('images_input')
    console.log(formdatafacility)
    $.ajax({
      type: "POST",
      url: "/manager/facility-management/create",
      processData: false,
      contentType: false,
      cache: false,
      mimeType: 'multipart/form-data',
      data: formdatafacility,
      success: function(result){
        localStorage.setItem("create_facility", JSON.parse(result).message)
        window.location.reload()
      },
      error: function (error) {
        toastr.error('Thêm mới thiết bị thất bại :(')
      }
    })
  }

  $('#edit_facility_form').off('submit').submit(function(e){
    e.preventDefault();
    if($('#edit_facility_form').form('is valid')) {
        console.log("is valid")
        updateSubmit(e)
    }
  })

   $('#myForm').off('submit').submit(function(e){
    e.preventDefault();
    if($('#myForm').form('is valid')) {
        console.log("is valid")
        addSubmit(e)
    }
  })

  $('#myForm')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type: 'empty',
            prompt: 'Vui lòng nhập tên thiết bị!!'
          },
          {
            type: 'maxLength[100]',
            prompt: 'Tên thiết bị không được quá 100 ký tự!!'
          }
        ]
      }
    },
    inline: true,
  });

  $('#edit_facility_form')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [
          {
            type: 'empty',
            prompt: 'Vui lòng nhập tên thiết bị!!'
          },
          {
            type: 'maxLength[100]',
            prompt: 'Tên thiết bị không được quá 100 ký tự!!'
          }
        ]
      },
      status: {
        identifier: 'status',
        rules: [
          {
            type: 'empty',
            prompt: 'Vui lòng cập nhật trạng thái thiết bị!!'
          }
        ]
      },
      quantity: {
        identifier: 'quantity',
        rules: [
          {
            type: 'empty',
            prompt: 'Vui lòng nhập số lương thiết bị!!'
          },
          {
            type: 'integer[0..1000]',
            prompt: 'Sô lượng thiết bị phải lớn hơn 0!!'
          }
        ]
      },
    },
    inline: true
  })
  ;
</script>

<style>
  /* .grid.container {
    margin-top: 5em;
  } */
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .insert_image:hover {
    background-color: #e0e1e2;
    cursor: pointer;
  }
  .card {
    width: 31% !important;
    float: left;
  }
  .dimmer {
    padding-top: 6rem !important;
  }
  .facility_attr {
    font-size: 16px;
  }
  .facility_attr label {
    color: #b8b8b8;
    margin-bottom: 1rem !important;
  } 
  .facility_attr p {
      margin-bottom: 2.5rem !important;
    }
  input, .dropdown.selection {
    width: 17rem !important;
  }
</style>