
<% rooms.each do |room|  %>
  <div class="three wide column room" style="background-color: #ffffff; border: 1px solid #f4f4f6; border-radius: 5px; padding: 1rem; line-height: 2rem; margin: 1rem 0.6rem" onclick="activeRoom(<%= room.id %>)" >
    <div style="display: flex; justify-content: space-between; align-items: center">
      <h3 style='margin: 0' class="room_name"><%= room.room_name %></h3>
      <a class="ui basic image mini label">
        <% if room.gender == 'MALE' %>
          <img src="/assets/elliot.jpeg">
          <%= t(".male") %>
        <% elsif room.gender == 'FEMALE' %>
          <img src="/assets/stevie.jpeg">
          <%= t(".female") %>
        <% end %>
      </a>
    </div>
    <div>
      <a class="ui mini label" class="room_content"><%= room.room_type %></a>
    </div>
    <div>
      <%= t(".status") %>: <a class="ui mini label" style="margin-left: 1rem; background-color: #3889c8; color: #fff !important"><%= room.status %></a>
    </div>
    <div>
      <%= t(".number_of_student") %>: <span style="margin-left: 1.4rem; font-size: 13px" id="room_member_card_<%= room.id%>"><%= room.number_student %></span>
    </div>
  </div>
<% end %>




<style>
.room {
  cursor: pointer;
  transition: .2s
}
.room:hover {
  transform: scale(1.1)
}
</style>