
<% rooms.each do |room|  %>
  <div class="room_item" style="background-color: white" onclick="activeRoom(<%= room.id %>)" >
    <div class="ui grid ">
      <div class="seven wide column">
        <div class="room_progress">
          <div class=" ui indicating progress active" data-percent="<%= 100*room.number_student/room.max_number_student%>" id="example1">
            <div class="bar"></div>
          </div>
        </div>
      </div>
      <div class="five wide column">
      </div>
      <div class="four wide column">
        <button style="background-color: #d8d8d8; border-radius:0.5rem; cursor: pointer; width: 1.5rem; height: 1.5rem; display: flex;justify-content: center;align-items: center; border: none;">
          <img src="/assets/close.png" style="width: 0.7rem; height: 0.7rem">
        </button>
      </div>
    </div>
    <div class="room_content">
      <div class="date" style="height: 50%; padding-top: 0.7rem;">
        <h3><%= room.room_type %></h3>
      </div>
      <div class="room_name" style="height: 50%">
        <h2 style="color: #787878;"><%= room.room_name %></h2>
      </div>
    </div>
    <div class="line"></div>
    <div class="room_footer">
      <div class="ui grid">
        <div class="four wide column" style= "display: flex">
          <% if room.gender == "MALE" %>
            <i class="male icon" style="font-size: 1.5rem"></i>
          <% else %>
            <i class="female icon" style="font-size: 1.5rem"></i>
          <% end %>
          <span><%= room.room_type %></span>
        </div>
        <div class="three wide column">
        </div>
        <div class="two wide column" style="">
        </div>
        <div class="seven wide column" style="display: flex">
          <%# <img src="/assets/group.png" style="width: 1.5rem; margin-right: 0.2rem "/> %>
          <i class="user outline icon" style="font-size: 1.5rem"></i>
          <span style="font-size: 1.4rem"><%= room.number_student %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
.room_item {
  cursor: pointer;
}
</style>