<%# <link href="/css/shCore.css" rel="stylesheet" type="text/css" /> %>
<%# <link href="/css/shThemeDefault.css" rel="stylesheet" type="text/css" /> %>

<link rel="stylesheet" href="/css/demo.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/flexslider.css" type="text/css" media="screen" />
<% provide :title, "Trang chủ"%>
<div class="homepage_management_show" style="width: 70%; margin: 0 auto">
  <h5><a href="/manager/homepage" class="breadcrumb">Bảng tin</a> / 
    <a href="/manager/homepage/<%= @post.id %>" class="breadcrumb">#<%= @post.id %></a> 
  </h5>
  <div class="title" style="margin-top: 2rem">
    <h1 style="font-size: 1.5rem"><%= @post.title %></h1>
  </div>
  <div class="time" style="margin: 1.5rem 0">
    <span style="color: #969696"><%= @post.created_at.to_date %></span>
  </div>
  <% if @post.images.length > 0 %>
    <div style="width: 60%; margin: 0 auto;">
      <div id="slider" class="flexslider">
        <ul class="slides">
        <% @post.images.each do |image| %>
          <li>
            <img src="<%= image.url %>" style="max-height: 45rem;"/>
          </li>
        <% end %>
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides">
          <% @post.images.each do |image| %>
            <li>
              <img src="<%= image.url %>" />
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="content" style="margin-top: 2rem" >
    <%= @post.content.html_safe %>
  </div>
  <div class="footer">
  </div>
</div>
<script src="/js/modernizr.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<script defer src="/jquery.flexslider.js"></script>

<script type="text/javascript">

//SLIDE
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 100,
      // itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>


<!-- Syntax Highlighter -->
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushXml.js"></script>
<script type="text/javascript" src="/js/shBrushJScript.js"></script>

<!-- Optional FlexSlider Additions -->
<script src="/js/jquery.easing.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script defer src="/js/demo.js"></script>

<style>
.content p {
  font-size: 1.1rem;
  line-height: 2rem;
}
</style>